[2018-05-22 16:13] PatReynolds opened #180 "Cookie consent for WP site (was Revise www.freeukgen policies page)"
Revise policies page (Pat) and cookie notice for FreeUKGen (Rich)
needs FreeUKGen/Coordination#868

Pat to ask Monetize more about using the work done before by Denise and them.

[2018-05-23 10:26] richpomfret commented on #180
It looks like this is being handled in a few other stories (727 & 669). We do need to create an updated draft of the cookie policy for the cookie policy page - let's store this in the GDPR cookie doc I created (see Sprint Slack channel).

[2018-05-23 13:01] PatReynolds commented on #180
FreeUKGen/Coordination#727 in error, cannot see a story FreeUKGen/Coordination#669. I think this is the only story about the cookie notice (yes, does need updating please) and the policy page (I'll do that).

[2018-05-24 19:14] DeniseColbert commented on #180
Cookie Policy page on FUG site is done. However, I haven't placed final paragraph as we don't have the function (see comment on doc)

[2018-05-25 09:55] PatReynolds commented on #180
Thanks, Denise. @RichPomfret could you check?

[2018-06-04 08:39] PatReynolds commented on #180
Denise to finish by placing in last paragraph once Vino has done the code

[2019-06-21 10:42] DeniseColbert opened #1 "Images should have caption text, smaller than body text"
I put this in the /WP repo; not sure if this is correct?

[2019-06-22 04:59] ghost commented on #1
@DeniseColbert

Works for me.

This issue references freeukgen/freeukgenealogy#22

[2019-06-26 03:33] ghost opened #2 "Google Analytics: Account Settings Action Required"
![190625-analytics_action_required.png](https://images.zenhubusercontent.com/5cfdea3834d3c654e1e71985/59521a46-a234-4957-b739-a9eae5c66e04)

Google Analytics reports action required (acceptance of T&CoS update apparently) by admin.

[2019-06-26 03:34] ghost commented on #2
@DeniseColbert Assigning this one to you for review/completion.

[2019-06-26 10:11] DeniseColbert commented on #2
@PatReynolds could you review these changes to analytics T&Cs re GDPR?

[2019-08-14 13:28] DeniseColbert opened #61 "Plugins for security/SEO etc"

[2019-10-21 15:41] DeniseColbert commented on #180
The toggle code isn't on the FreeUKGEN website, I know Gray was working on it but the story doesn't seem up to tell us where he was up to: https://app.zenhub.com/workspaces/freeukgenealogysite-5cfdeab6c34c1b37ca337cab/issues/freeukgen/freeukgenealogy/45

@richpomfret Do we want this expediting? I'm not sure Candice would be able to do this, is it something Lemon could do? (upload the code into the

[2019-11-20 09:34] DeniseColbert opened #67 "Analytics and Tag Manager (GTM)"
Epic to house all stories for implementing Google analytics and Google Tag manager on the WP site, and also other tags/pixels.

Previous story FreeUKGen/FreeUKGenealogy#26 for ref re. Craft implementation (if needed- probably not)

[2019-11-20 09:37] DeniseColbert commented on #67
![image](https://user-images.githubusercontent.com/19173257/69227128-42ed0780-0b79-11ea-828f-5aad173e781d.png)

[2020-02-03 17:36] PatReynolds opened #3 "Add gift aid logo"
http://www.stmaryscatholicchurchstudley.org.uk/giftAid.html could be used for inspiration.

[2020-02-24 10:12] PatReynolds commented on #3
Put ontoWordpress as impossible on Craft

[2020-04-27 15:30] PatReynolds opened #179 "Update Good First Issue Volunteer page"
Still talks about waffle.io

Also, I think we need to have links to 'testing' protocol.

The boards need a bit of a scrub through to identify the tasks we could expect a new volunteer to undertake.

[2020-05-12 15:50] DeniseColbert commented on #179
Links all now point to GitHub

[2020-05-12 16:02] DeniseColbert commented on #179
We have a page 'How to Test Issues' here: https://www.freeukgenealogy.org.uk/about/volunteer/tech-volunteering-opportunities/how-to-test-issues

@richpomfret is this what Pat wants linking to on the GFI page?

[2020-06-24 11:19] DeniseColbert opened #4 "Open Data video on Home page"
https://youtu.be/72XEPiceLtE

[2020-07-03 11:11] DeniseColbert opened #5 "Image file manager can capture and display copyright/attribution information"
Possibly CC icon overlaid on image or in caption area, with info on hover?

[2020-07-21 18:04] monochromecyan commented on #67
Could probably move this to done

[2020-07-22 09:14] DeniseColbert commented on #67
I think this is still needed until we have analytics and tag manager set up, along with tickets FreeUKGen/FreeUKGenealogy#19 & FreeUKGen/FreeUKGenealogy#29?

[2020-10-08 10:23] #4 closed, assigned to nobody

[2020-10-08 10:23] PatReynolds commented on #4
completed by 48in48

[2020-10-08 10:43] PatReynolds opened #7 "The Home Page Epic"

[2020-10-08 10:44] PatReynolds opened #10 "Add Facebook to Homepage"

[2020-10-08 10:45] PatReynolds opened #9 "Create more space to the left of menu box in Homepage"

[2020-10-08 10:45] PatReynolds opened #8 "Replace "sidebar" on Homepage with better use of graphics"
Abandon idea of "sidebar" but use images, infographics, etc. to break up space on the page

[2020-10-08 10:47] PatReynolds opened #6 "Reduce gap below figures in Homepage"

[2020-10-08 10:56] PatReynolds opened #11 "The NEWS Epic"

[2020-10-08 10:57] PatReynolds opened #12 "Create post on the 48in48 new site"

[2020-10-08 10:58] PatReynolds opened #13 "Move last 3 or 4 news posts to new site"

[2020-10-08 10:58] PatReynolds opened #14 "Create a 'post' as last on news that links to the old website"

[2020-10-08 11:06] PatReynolds opened #15 "Link Newsletter signup to groups.io"

[2020-10-08 11:08] PatReynolds opened #16 "Change Newsletter signup link from Mailchimp to Groups.io"

[2020-10-08 11:11] PatReynolds opened #18 "The Donations Page Epic"
For information/reference: creating donate paypal buttons: https://developer.paypal.com/docs/paypal-payments-standard/integration-guide/donate-step-1/#

Adding text collection to a paypal donation button: https://www.paypal.com/uk/smarthelp/article/how-do-i-create-a-donate-button-with-a-text-field-ts1513

[2020-10-08 11:12] PatReynolds opened #17 "The Volunteer Page Epic"

[2020-10-08 11:17] PatReynolds opened #19 "Test all donations pathways"

[2020-10-08 11:19] PatReynolds opened #20 "The Images Epic"

[2020-10-08 11:19] PatReynolds opened #21 "Removed embedded text from images"

[2020-10-08 11:20] PatReynolds opened #22 "Decide how to implement source and copyright information for images"

[2020-10-08 11:20] PatReynolds opened #23 "Identify which (if any images) need linking to an external site"

[2020-10-08 11:23] PatReynolds opened #24 "Consider choice of images on Volunteering page"

[2020-10-08 11:24] PatReynolds opened #25 "Test links on 'Get Involved'"

[2020-10-08 11:24] PatReynolds opened #26 "'Join the conversation' rather than 'raise awarentess' (throughout site)"

[2020-10-08 11:31] PatReynolds opened #27 "The Navigation Bar (Menu) Epic"

[2020-10-08 11:32] PatReynolds opened #28 "Hover on menu displays sub-pages, including the main page for this section"
The sub-pages should be indented, e.g.

Get involved shows menu on hover:

Get involved
    Volunteer

[2020-10-08 11:34] PatReynolds opened #29 "The Our Story Epic"

[2020-10-08 11:35] PatReynolds opened #30 "Create Our Impact page"
- [ ] To include scrolling Testimonials

- [ ]  https://charitydigital.org.uk/topics/charity-guide-to-better-impact-reporting-8053?utm_source=Charity%20Digital%20Trust&utm_medium=email&utm_campaign=11913599_Wed%20newsletter%20-%2021%2F07&utm_content=impact%20reporting&dm_i=O,73CLB,LUUAUL,SNW6B,1

[2020-10-08 11:35] PatReynolds opened #31 "Create Our Values page"

[2020-10-08 11:35] PatReynolds opened #32 "Create Our Team page"

[2020-10-08 11:39] PatReynolds opened #33 "The Get Involved Page Epic"

[2020-10-08 11:41] PatReynolds opened #34 "Look for a free carousel Twitter feed, ideally customisable to branding"
Or source a separate, better Twitter plugin

[2020-10-08 11:43] PatReynolds opened #35 "Add Facebook display to Our Story"

[2020-10-08 11:46] PatReynolds opened #36 "Fix broken link to Twitter on Home Page"
See also story #34 for enhancement to this element - maybe implement instead, if as easy to do as to fix the current broken link.

[2020-10-08 12:04] PatReynolds opened #37 "Increase font size on the Navigation/Top bar"

[2020-10-08 12:05] PatReynolds opened #38 "The Accessibility Epic"

[2020-10-08 12:07] PatReynolds opened #39 "Test viewability on different screen sizes and with various text scaling"

[2020-10-08 12:09] PatReynolds opened #40 "The Footer Epic"

[2020-10-08 12:10] PatReynolds opened #41 "Add Instagram and Pinterest to footer"

[2020-10-08 12:10] PatReynolds opened #42 "Update footer with correct links"

[2020-10-08 12:12] PatReynolds opened #43 "The Contact Page Epic"

[2020-10-08 12:13] PatReynolds opened #44 "Move the Contact FAQ and form to the Contact Page"

[2020-10-08 12:14] #43 closed, assigned to nobody

[2020-10-08 12:16] PatReynolds opened #45 "The Contact Page Epic"

[2020-10-08 15:11] PatReynolds opened #46 "Create dropdown sections for each of the four groups of volunteering opportunity"

[2020-10-08 15:11] PatReynolds opened #53 "Create sections for each of the four groups of volunteering opportunity"
Implement sections with twisties to offer choices

Transcribers
Sections:

1. Find out more about transcribing
2. Which project is right for me?
3. Volunteer with FreeBMD
4. Volunteer with FreeCEN
5. Volunteer with FreeREG

Foundation volunteers
1/ Design
2/ Communications
3/ Digital Marketing

Technical volunteers
1/ Ruby Coders
2/ Wordpress Coders
3/ HTML5
4/ Technical writers (process documenta

[2020-10-08 15:22] PatReynolds commented on #46
Implement sections with twisties to offer choices

*Transcriber*
Sections:
1/ Find out more about transcribing
2/ Volunteer with FreeBMD
3/ Volunteer with FreeCEN
4/ Volunteer with FreeREG
5/ Which project is right for me?

*Foundation volunteers*
1/ Graphic design
2/ Social media
3/ Google Ads
4/ Google Analytics
5/ Copy editors

*Technical volunteers*
1/ Ruby Coders
2/ Wordpress Coders
3/ HTML5

[2020-10-08 15:45] PatReynolds opened #47 "Create teal box on header/bar"
Done on Akhil's new design.

[2020-10-08 15:49] PatReynolds opened #48 "Create teal box for 'Donation' on header menu"
On Akhil's new design.

[2020-10-08 15:51] PatReynolds opened #49 "Add big teal numbers to statistics in Donate page"
Done in Akhiil's new design

[2020-10-08 15:53] PatReynolds opened #50 "Outline new Donations pathway"

[2020-10-08 15:54] PatReynolds opened #51 "Add giftaid symbol and text to Donate page"

[2020-10-08 15:56] PatReynolds opened #52 "Add Kindlink form into Donate page"

[2020-10-08 16:13] PatReynolds opened #54 "Consider how contact form will work in Denise's absense"

[2020-10-09 10:56] PatReynolds commented on #50
Looking at Akhil's new form - I think we are going to need separate blocks for Kindlink and Paypal, as Kindlink has a lot of options on-site/in-form, and Paypal has none.

*For Discussion*

Also a giftaid form in the Paypal block, and for cheque and bank transfer donations.

We could try to get all onto the Donations page, e.g.:
https://docs.google.com/drawings/d/1HbCLYVW-maxSArdDoTIt5_YzcFmV8iRva

[2020-10-09 11:08] PatReynolds commented on #19
Kindlink works as expected.

Two paypal links at bottom offer choice of both monthly and one off, working.  Cancel button working as expected.

CAN$ button has US$ as currency @PatReynolds to change

Widget:
own amount selection not working
text on onther methods of payment is misleading (says it's a 'demo only - no money will be taken').
paypal option broken
no mention of giftaid / ability to rec

[2020-10-12 10:00] PatReynolds opened #55 "The Assets Epic"

[2020-10-12 10:41] PatReynolds opened #56 "Communicate forthcoming changes to the Free UK Genealogy website"

[2020-10-12 10:44] PatReynolds commented on #19
Plan is to design new interface rather than to use current one.

[2020-10-12 10:57] PatReynolds commented on #50
Three paths to donation (no need to ask about regular payments as all done on the donation platforms):
Do you want to pay in UK£ or other?
1/ Paypal currency buttons for other currency
Pay by card vs pay by paypal/cheque/bank transfer?
2/ Kindlink Form
3/  form (with giftaid option) to paypal UK£, cheque and bank transfer

For giftaid: need to collect donor's name, home address, and email address

[2020-10-12 11:04] PatReynolds opened #57 "Create 'landing page' for those not proceeding with a Paypal donation"
On current site this is called Continue?

[2020-10-12 11:05] PatReynolds opened #58 "Thank you page for those who have made a donation to be routed to after donation"

[2020-10-12 12:44] DeniseColbert commented on #50
https://docs.google.com/drawings/d/1z6OXZ0mHaC2OLcwTTn-myvWCEg2NozaKYTHMWxIbe3w/edit?usp=sharing

[2020-10-12 12:58] DeniseColbert opened #59 "Add sitemap link to footer"

[2020-10-12 13:07] DeniseColbert commented on #22
Is this a duplicate of #5 ?

[2020-10-12 14:15] DeniseColbert opened #60 "Review paid plugins and source free (ideally) replacements"
Currently in 48in48 build:

- Beaver Builder Pro (Theme and the Themer plugin is included)
https://www.wpbeaverbuilder.com/pricing/ - $199
**Page builder and theme template**

- Ultimate Addons for Beaver Builder
https://www.ultimatebeaver.com/pricing/- $69
**As above**

**We don't need these, but they do make building the website much easier than creating the code from scratch. It would be a bonu

[2020-10-12 14:18] DeniseColbert opened #62 "The Plugins Epic"

[2020-10-12 15:01] DeniseColbert opened #63 "Donate button needs to be standardised"
We have an animated button currently on the website, that exists as a Pull Request on the Coordination board (https://github.com/FreeUKGen/Coordination/pull/304)

Ideally, the new website would use this from MVP but if this isn't possible, all instances of the image should use this file: https://drive.google.com/file/d/1uknWGBFMGTft0E6p8znEqFDXLcJxomUm/view?usp=sharing

[2020-10-12 15:12] DeniseColbert commented on #10
See also https://github.com/freeukgen/freeukgenealogy/issues/19

[2020-10-12 15:17] DeniseColbert opened #64 "Standardise fonts, font sizes and colours in CSS"
Create a CSS stylesheet in the backend code so that e.g. when teal is selected, the correct colour is applied (#00857E), headings, subheadings etc. are the same throughout site

[2020-10-12 15:20] DeniseColbert opened #65 "The Standardisation Epic"
Our branding and associated elements should be hard-coded into the theme so that a non-developer can build pages.

[2020-10-12 15:25] DeniseColbert opened #66 "Add HotJar to backend"
Please see https://github.com/freeukgen/freeukgenealogy/issues/29 for details and code

[2020-10-12 15:30] DeniseColbert commented on #67
Container code: https://docs.google.com/document/d/1EfX9le5EQKyZJLJlvljf-smHxjlbATr6XiJh87bd_Xg/edit?usp=sharing

[2020-10-12 15:34] DeniseColbert opened #68 "Landing pages for projects Epic"
Three pages required, based on:

- https://www.freeukgenealogy.org.uk/freebmd
- https://www.freeukgenealogy.org.uk/freecen
- https://www.freeukgenealogy.org.uk/freereg

[2020-10-12 15:35] DeniseColbert opened #69 "Conversion tracking for project landing pages"
Track from Google Ads through to project website

[2020-10-12 15:37] DeniseColbert opened #70 "Create copy for Volunteer sections"
Denise to create Google Doc for this, to include each of the four sections.

Include information on where links route to.

[2020-10-13 13:20] DeniseColbert opened #71 "Home page collage has repeated image"
Right-most image of the two to be replaced.

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/eb35c5f8-9ff5-4345-b471-95469d0bd040)

[2020-10-13 14:46] DeniseColbert opened #72 "Turn timeline on Our Story from image into html"
Image text is not readable by screen readers- doesn't meet accessibility standard

[2020-10-14 09:34] PatReynolds commented on #19
The 'with giftaid' on paypal does not collect addresses, so this needs to be on the same pathway as cheques and bank transfers.

Also does not indicate (as far as I can see) that the payment is 'with giftaid'.

Could not resolve in help, have asked community 14/10/2020

[2020-10-14 09:47] PatReynolds commented on #19
Quebecois (Canadian dollars - French): https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G5GD3T86WYPPW
English Canadian dollars:
https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3XMXJ8NHXLZR8

[2020-10-15 11:34] PatReynolds commented on #50
Information ("background") needed on Giftaid declaration:
There is no set design for a declaration form or a verbal declaration, but it must include:

the name of your charity or CASC
the donor’s full name
the donor’s home address
whether the declaration covers past, present or future donations or just a single donation
a statement that the donor wants Gift Aid to apply (this could be a tick box o

[2020-10-16 14:36] DeniseColbert opened #73 "Donate/Get involved vector buttons"
@LouisFreeUk (Design Volunteer) has created some buttons for us: https://drive.google.com/file/d/1d9wF2cwJ8V0vsQKQgXpv6kosyIky9HSZ/view?usp=sharing

NOTE: Buttons look consistent if "Non-cash ways to help" is truncated to "Non-cash ways", as per link above. Is this acceptable? @AKHILP96

[2020-10-16 14:39] DeniseColbert opened #74 "Have vector buttons (SVG) on the website"
Does SVG capability need to be added to WordPress? @carcarvroom

[2020-10-16 15:11] akhilpokle commented on #73
It's consistent and looks good. Any ideas about where we can place it?

[2020-10-16 15:27] akhilpokle commented on #71
[
![collage](https://user-images.githubusercontent.com/17247801/96277521-ffea1d00-0ff1-11eb-8525-d810e398a4bf.png)
](url)

[2020-10-16 15:46] DeniseColbert commented on #71
Great, thank you @AKHILP96. Could you add this to the Media subfolder of the Design folder I shared with you earlier?

[2020-10-16 15:54] DeniseColbert commented on #73
Maybe they could replace these buttons on the Donate page?

![image](https://user-images.githubusercontent.com/19173257/96279763-074bff00-0fcf-11eb-9b68-f15b2c452941.png)

[2020-10-17 07:52] LouisFreeUk commented on #73
Thanks for the feedback! Im going to work on a button for the get involved
bit then it's a complete set for main buttons.

On Fri, 16 Oct 2020, 4:55 pm DeniseColbert, <notifications@github.com>
wrote:

[2020-10-17 13:50] akhilpokle commented on #74
Based on this post by WordPress : https://wordpress.org/plugins/svg-support/ I think we can easily add SVG.

[2020-10-17 13:53] akhilpokle commented on #72
Found this plugin : https://www.wp-timelineexpress.com/pricing/

Since we need only 1 timeline, I think the free version meets our needs.

[2020-10-17 14:02] akhilpokle commented on #64
One way to do that is using SCSS.
Plugin : https://wordpress.org/plugins/wp-scss/#reviews
To implement this, we need to hop on a call with key developers.

[2020-10-17 14:07] akhilpokle commented on #59
I dont know how sitemap works, shall I work on a design for same ?

[2020-10-17 14:11] akhilpokle commented on #53
Dropdown might complicate the existing layout, I think keeping individual details separate might be a better way.

[2020-10-17 14:15] akhilpokle commented on #42
This is the new footer design.
![footer](https://user-images.githubusercontent.com/17247801/96339248-1efbb400-10b1-11eb-9741-d285dbe354e8.png)

[2020-10-19 14:02] DeniseColbert commented on #42
I like the way you've put the main links in the footer. However, there is some repetition (Get Involved in Home but has its own section; Projects too.

This is the issue referenced in the title of this story: https://github.com/FreeUKGen/Systemwide/issues/115. CSS volunteer @jayto581's demo is here: https://jayto581.github.io/FUG_Demo/. He could provide the CSS for this, which we can then tweak fo

[2020-10-19 15:01] DeniseColbert commented on #53
Dropdown may be the wrong word; we were thinking expanding sections (as per FAQs on Home page currently but to be moved to Contact page for MVP). Perhaps you could put together a rough prototype with comments so we can discuss @AKHILP96 ?

[2020-10-19 15:13] DeniseColbert commented on #59
This story is in the final phase of development, so not a priority until phases 1 & 2 are complete.

This is the sitemap for the 'old' website: https://www.freeukgenealogy.org.uk/sitemap/ in case it helps when the time comes.

[2020-10-19 15:19] DeniseColbert commented on #72
Thanks @AKHILP96, phase 2 though, so not a priority right now.

[2020-10-19 15:41] DeniseColbert commented on #60
Updated list of paid-for plugins:

Beaver Builder Plugin (Pro Version) - $199 (lifetime?)
Facebook Feed Add - $27 (lifetime?)
Give - Donation - $199 (annual)
Gravity Forms - $159 (annual)
PowerPack for Beaver Builder - $69 (annual) / $249 (lifetime)
Ultimate Addons for Beaver Builder - $55 (annual) / $249 (lifetime)
WP Feedback Pro - $84 (annual)  

[2020-10-19 16:01] DeniseColbert commented on #64
I've put a Meet in for Thursday at 4pm BST- hope you can both make it @AKHILP96 & @carcarvroom!

[2020-10-20 11:30] akhilpokle commented on #64
Could we do it after 4:30 pm BST? Or will it be ok if I join 1/2hr late?

[2020-10-20 12:16] DeniseColbert commented on #64
Have moved it to 4.30pm @AKHILP96 , no problem if you're a bit late.

[2020-10-21 09:37] PatReynolds commented on #51
Donations texts are here:
Single donation
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/467898/Charity_GAD_Single_Donation.pdf
Multiple donations
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/468016/Charity_GAD_Multiple_Donations.pdf

Symbols: I found some by searching - please let me know if none s

[2020-10-22 15:37] DeniseColbert commented on #51
@AKHILP96

[2020-10-22 23:26] carcarvroom commented on #37
Increased top navigation font from 13px to 16px

[2020-10-22 23:40] carcarvroom commented on #60
Deactivated all paid plugins. Currently rebuilding/testing with the following plugins:
Elementor (site builder) - Free
Elementor Essential Add-ons - Free
UpdraftPlus (site/database backups) - Free

Then, looking for free alternatives or will create custom replacements for:
Contact Form
Donations
Facebook Feed

[2020-10-23 03:43] carcarvroom commented on #10
@DeniseColbert Do we currently have an access token available for Facebook?

If not, these [instructions](https://essential-addons.com/elementor/docs/social-elements/facebook-feed/) show how to create one for whoever has access to the FB account. Let me know if there are any issues or questions!

Thanks! This will let me display the latest feed from FB.

[2020-10-23 08:26] DeniseColbert opened #75 "Dropdown "Search Records" is not a (broken) button"
On Home page, above the fold, we had a dropdown where the user could select the type of records they wished to search and their click would take them to the website they needed. This has been replaced by a teal button which is broken. Could you take a look please, @carcarvroom?

[2020-10-23 08:53] DeniseColbert commented on #67
@carcarvroom could you add the Google Tag Manager container code to the site please? I think this is where all tracking etc. meets up- is the Facebook pixel issue related/dependent on this?

ETA- I will give you access to GTM now...

[2020-10-23 09:09] DeniseColbert commented on #10
Following the instructions, encountered this:
![image](https://user-images.githubusercontent.com/19173257/96981535-8ed9c680-1517-11eb-8576-0b39d077b117.png)

It appears that we may need to submit our use of the integration for review, when it's ready.

Here's the token: EAADvsNLoZANQBAPpsatyislLBkdNjXYthBorC6lERZAh4Dx8et0GcCrxmOPtzLpZAXqDiZAgiSRPgBBdfhXXD2aVT1OqM8WrMDSoiZCP8Kv3KeU1A3swi9lW0vOzkaZB

[2020-10-23 09:41] DeniseColbert commented on #60
We likely won't need anything on the scale of GiveWP for Donations, we have code for a widget from KindLink, and PayPal buttons. For info, here is the brief for the design of the GBP donations pathway that Akhil is working on: https://docs.google.com/drawings/d/1z6OXZ0mHaC2OLcwTTn-myvWCEg2NozaKYTHMWxIbe3w/edit?usp=sharing

[2020-10-23 09:46] DeniseColbert opened #76 "Improve FAQ copy"
Text requires streamlining and improving. Where in WP can this be accessed?

[2020-10-23 09:50] DeniseColbert opened #77 "The SEO Epic"

[2020-10-23 10:30] DeniseColbert commented on #37
Thanks Carly, definitely getting closer.

This relates to the standardisation story as well, but the look and feel of this website should echo what we have on our (newer) project websites (i.e. www.freereg.org.uk & www.freecen.org.uk are live sites, FreeBMD is being redeveloped at test2.freebmd.org.uk - username and password to access this site are both 'test'). @AKHILP96 could you take a look and

[2020-10-23 10:56] akhilpokle commented on #50
@PatReynolds @DeniseColbert, I found an UK based NGO : https://www.savethechildren.org.uk/

I really liked the way they've implemented their donation system for post transfer ( not sure what they mean but I guess it's cheque or cash payment)

They've created forms for the same,
https://www.savethechildren.org.uk/content/dam/gb/reports/fundraising/single-donation-form-may2018-v4.pdf
https://www.sav

[2020-10-23 11:22] akhilpokle commented on #37
@DeniseColbert by design spec you mean a design spec that's uniform across freereg, freecen and freebmd ?

[2020-10-23 12:35] DeniseColbert commented on #37
Some elements should echo the other websites, for consistency, but the spec
will be specific to this website. I guess we need to think about what
things can we emulate from our project sites, and what things are unique to
this website?

On Fri, 23 Oct 2020, 12:23 AKHIL POKLE, <notifications@github.com> wrote:

[2020-10-23 12:42] akhilpokle commented on #37
So common elements like navigation, footer, etc to have uniform design across the three websites.

[2020-10-23 13:00] DeniseColbert commented on #37
I'm not explaining this very well, and not in the office now until Monday,
so will ponder over the weekend and reply then. Apologies, Akhil.

On Fri, 23 Oct 2020, 13:43 AKHIL POKLE, <notifications@github.com> wrote:

[2020-10-23 18:24] akhilpokle commented on #37
@DeniseColbert No Problem
@carcarvroom if you're planning to work on the website, then pick anything apart from homepage and donation page. If possible take a look at the news page design, we need to figure out a way to implement and use Wordpress cms with the news page.

[2020-10-27 00:57] carcarvroom commented on #44
Moved FAQs to Contact Page.

Created a contact form and tested it with personal email and it is working. These forms will be sent to the admin email (wpsite@turnkeywp.com), please let me know if you would like it sent elsewhere.

[2020-10-27 15:54] DeniseColbert opened #78 "Consider adding a new 'Heading' font"
E.g. https://www.figma.com/file/xys4PUozmu8NkDAvYhRgeQ/FreeUkGenealogy?node-id=675%3A0

[2020-10-27 16:14] DeniseColbert commented on #42
@AKHILP96 see above comment re. footer

[2020-10-27 16:17] DeniseColbert opened #79 "CTA text for each of the 4 types of volunteering"
- Transcribing Opportunities

- Management Opportunities

- Foundation Opportunities

- Tech Opportunities

[2020-10-27 16:33] DeniseColbert opened #80 "Our Data/Your Data info on 'Our Story' page"
The process of how data ends up in our websites' databases (pictorial?)

How we do not require personal information from users for them to be able to perform searches.

[2020-10-27 16:43] DeniseColbert opened #81 "Create a scrolling widget for testimonials"
For 'Donate' page and 'Our Impact' page.

Pat:

[2020-10-27 17:06] akhilpokle commented on #80
For reference and inspiration : https://www.charitywater.org/our-approach

[2020-10-27 17:14] PatReynolds commented on #50
I think it would be a good idea for the testimonials to have tickyboxes that say that the testimonial is about FreeBMD, FreeCEN, FreeREG, FreeUKGenealogy - as  we can re-use the testimonials on the individual websites.

[2020-10-27 17:15] DeniseColbert opened #82 "Design (and then implement) the navigation bar"
@AKHILP96  see image below for future design of the navigation bar on the project websites:

![Home Page (Option 3).png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/dd39aa54-3775-471d-8706-e33dc160fdaa)

[2020-10-27 17:18] DeniseColbert commented on #5
@carcarvroom Is this something that the native asset manager can do?

[2020-10-27 17:33] DeniseColbert commented on #50
I've noted your comment on the testimonial story @PatReynolds (#81)

[2020-10-29 17:06] DeniseColbert commented on #82
@PrabxDesign to come up with some ideas, too.

[2020-10-29 17:10] DeniseColbert commented on #37
@PrabxDesign to take a look and come up with ideas ahead of UX meet.

[2020-10-29 17:38] PrabeshKatawal opened #83 "Have the Navigation Bar fixed whilst scrolling."

[2020-10-30 15:43] DeniseColbert commented on #10
@carcarvroom is everything OK with the token and ID?

[2020-10-30 15:46] DeniseColbert commented on #44
Thanks, @carcarvroom! I don't know where emails to wpsite@turnkeywp.com end up but we need them to go to info@freeukgenealogy.org.uk

[2020-10-30 16:16] DeniseColbert commented on #34
@carcarvroom The Our Story page (About Us should be changed to Our Story in Nav bar) had a Twitter widget that we really liked. It isn't there now- are you able to track it down?

[2020-10-30 16:17] DeniseColbert commented on #36
Link seems fixed - thanks! Closing.

[2020-10-30 16:17] #36 closed, assigned to nobody

[2020-10-30 16:18] DeniseColbert commented on #47
Re-opening as this hasn't yet been implemented

[2020-10-30 16:46] DeniseColbert commented on #60
@carcarvroom what do you think of Elementor so far?

[2020-10-30 16:48] DeniseColbert commented on #6
Appears fixed so closing

[2020-10-30 16:48] #6 closed, assigned to nobody

[2020-10-30 16:49] DeniseColbert commented on #9
Menu box removed so closing

[2020-10-30 16:49] #9 closed, assigned to nobody

[2020-10-30 16:50] DeniseColbert commented on #19
@PatReynolds could you update the story with the Euro button please?

[2020-10-30 16:51] DeniseColbert commented on #2
@PatReynolds any update for this?

[2020-10-30 16:52] DeniseColbert commented on #66
@luis-palma do you want to take a look at this for your first task?

[2020-10-30 16:53] DeniseColbert commented on #8
Sidebar removed so closing

[2020-10-30 16:53] #8 closed, assigned to nobody

[2020-10-30 16:55] DeniseColbert commented on #71
Appears fixed, closing

[2020-10-30 16:55] #71 closed, assigned to nobody

[2020-10-30 23:14] carcarvroom commented on #44
Okay, the email has been updated! I sent a test. Let me know if info@freeukgenealogy.org.uk received it!

[2020-10-30 23:21] carcarvroom commented on #60
I think Elementor is the best replacement for Beaver Builder! It's intuitive and really easy to use. I've set global colors and fonts so through Elementor, you don't have to enter the hex colors or fonts manually.

I have not needed _any_ paid plugins as well!

[2020-10-30 23:30] carcarvroom commented on #34
I think that widget was specific to Beaver Builder, but let me try some other options and see if I can get some type of scrolling function. If not, I think that function can be added from the PHP end.

- [ x ] Changed About Us to Our Story in nav bar
- [ ] Add scrolling Twitter feed functionality

[2020-11-02 15:37] luis-palma commented on #66
Dear Denise,

I hope this email finds you well.
I saw my first task assigned on github last friday, but I had some problems
with it, since hotJar is not available from my country IP Address (country
IP is banned) and Google Tag Manager is also banned when accessed from my
current IP location (I'm sending attachments about it). For properly
accessing these resources I'd need a VPN software, which i

[2020-11-03 16:24] DeniseColbert commented on #44
I did, thanks! It appeared to come from info@freeukgenealogy.org.uk though, which my email client didn't like:

![image](https://user-images.githubusercontent.com/19173257/98012430-fd106a00-1df0-11eb-9edb-9a762252296b.png)

[2020-11-03 22:43] carcarvroom commented on #44
Okay I changed the "email from" address which will be the WP admin email address. I've sent a second test email.

Could you try replying to the email? It should automatically populate whatever the user enters as the email field, in this case it should be "carly.la@freeukgenealogy.org.uk". Thanks!

[2020-11-03 22:45] carcarvroom opened #84 "Social media links"
@DeniseColbert Could you confirm if these are all the correct media links (I realized I've been using the US links, I'm assuming these should have the .uk domain)? Also, do we want all of these displayed on the site or some omitted?

Facebook - https://www.facebook.com/freeukgen/
Instagram - https://www.instagram.com/freeukgenealogy/
Twitter - https://twitter.com/freeukgen?lang=en
Youtube - https:

[2020-11-03 22:59] carcarvroom commented on #28
I believe this is complete, moved to Done.

[2020-11-04 09:37] DeniseColbert opened #85 "URL Trailing slash issue"
It's primarily a linking error. In essence, when someone clicks on a hyperlink without the trailing slash (when the webpage's url actually does have a trailing slash), the browser essentially redirects you to the correct page (rather than showing an error, which you would normally expect for an incorrect url).

**This means that Google and other robots browsing websites think that there are two pa

[2020-11-04 12:08] DeniseColbert commented on #84
Links as below: (Don't think the domain country matters too much but mostly we use .com)

Facebook - https://www.facebook.com/freeukgen/
Twitter - https://twitter.com/freeukgen/
Instagram - https://www.instagram.com/freeukgenealogy/
Pinterest - https://www.pinterest.co.uk/FreeUKGenealogy
YouTube - https://www.youtube.com/c/FreeukgenealogyOrgUkCIO/
GitHub - https://github.com/FreeUKGen

**(Taken fr

[2020-11-04 12:10] DeniseColbert opened #86 "Consider improving Nav bar"
More informative dropdown e.g. https://www.savethechildren.org.uk/

[2020-11-04 12:14] DeniseColbert commented on #44
Second test didn't arrive @carcarvroom ...

[2020-11-04 12:59] DeniseColbert commented on #34
Great, thanks!

[2020-11-04 13:00] DeniseColbert commented on #60
Looking forward to seeing it in action tomorrow!

[2020-11-05 11:15] PatReynolds opened #87 "Implement PECR/e "e-Privacy directive" consent"
See https://ico.org.uk/for-organisations/guide-to-pecr/what-are-pecr/ for background
 - [ ] decide what types of consent are needed/wanted
 - [ ] consider AdManager (used on the project websites) and alternatives as the solution
 -  [ ]  choose solution
 -  [ ] add code to website

[2020-11-05 17:19] DeniseColbert commented on #10
@DeniseColbert look into why token isn't working

[2020-11-05 17:24] #75 closed, assigned to carcarvroom

[2020-11-05 17:24] #28 closed, assigned to nobody

[2020-11-05 17:26] carcarvroom commented on #44
Test 3 sent!

[2020-11-05 17:28] DeniseColbert commented on #60
Decided to use Elementor to create the website in the quickest way. Once MVP is passed we can replace widgets with our own creations.

[2020-11-05 17:28] #60 closed, assigned to carcarvroom

[2020-11-05 17:38] #74 closed, assigned to nobody

[2020-11-06 10:08] DeniseColbert commented on #44
Received, thanks :) I hit reply but it didn't populate your email:

![image](https://user-images.githubusercontent.com/19173257/98354013-0fb8b800-2018-11eb-88a4-4fc2b821e560.png)

[2020-11-06 11:41] PatReynolds opened #88 "Invite retrospective authorisation of Gift Aid"
A nice to have is to invite visitors to the website to enable us to claim donations on previous donations (first iteration does this only  as part of making a new donation)..

[2020-11-06 14:13] DeniseColbert opened #89 "Investigate migrating news posts from Craft to WP"
As detailed in https://kickpoint.ca/migrating-posts-from-craft-cms-to-wordpress/ (the tool they mention is https://github.com/paper-leaf/commandervee)

[2020-11-09 11:34] DeniseColbert opened #90 "Add Museo font to WordPress"
There are three weights [available here](https://www.fontsquirrel.com/fonts/museo) for free. We want 300 for Reg & 500 for Bold.

[2020-11-09 16:41] DeniseColbert commented on #51
@AKHILP96 could you include the Gift Aid logo in your design?

[2020-11-10 14:23] DeniseColbert opened #91 "Review Document of Qs we want analytics to answer"
https://docs.google.com/document/d/1bzMacIa0wAweMMl-OioA-EyCqqqflnALATdEaxNMrg8/edit?usp=sharing

Make stories for tasks required in WP.

[2020-11-10 15:52] DeniseColbert opened #92 "New user funnel"
Upon signing up to the newsletter, We ask user if they've tried finding their ancestors on FreeBMD, CEN & REG

[2020-11-10 15:53] DeniseColbert opened #93 "UX Improvements (After MVP)"

[2020-11-10 15:56] DeniseColbert opened #94 "The Newsletter Epic"

[2020-11-10 16:16] DeniseColbert opened #95 "Newsletter Archive page"
Page containing links to previous newsletters

Upon signing up to receive the newsletter, we thank the user and take them to this page. Would it be possible to have info specific to new users (maybe a pop-up)? Per story #92

[2020-11-10 16:21] DeniseColbert opened #96 "Add lightbox pop-up newsletter sign-up when user is about to leave"

[2020-11-10 16:38] DeniseColbert opened #97 "Design Landing pages for Project websites (Also could be used for Our Services)"
-  https://www.freeukgenealogy.org.uk/freebmd

- https://www.freeukgenealogy.org.uk/freecen

- https://www.freeukgenealogy.org.uk/freereg

[2020-11-10 16:39] DeniseColbert opened #98 "Conversion tracking on landing page search buttons"
**Track from Google Ads through to project website**

Currently tracking clicks on Search button on https://www.freeukgenealogy.org.uk/freecen.

Need similar for https://www.freeukgenealogy.org.uk/freebmd & https://www.freeukgenealogy.org.uk/freereg

[2020-11-10 16:54] DeniseColbert opened #99 "Donations - Tracking conversions"
Per https://docs.google.com/document/d/1bzMacIa0wAweMMl-OioA-EyCqqqflnALATdEaxNMrg8/edit#heading=h.ctsdngwgsem1

[2020-11-10 17:02] DeniseColbert opened #100 "Volunteer - Tracking conversions"
Per https://docs.google.com/document/d/1bzMacIa0wAweMMl-OioA-EyCqqqflnALATdEaxNMrg8/edit#heading=h.szgx6nf5u3oe

[2020-11-10 17:13] DeniseColbert opened #101 "Driving Traffic to websites from WP sites"
What do we need to be tracking in analytics to answer the questions in https://docs.google.com/document/d/1bzMacIa0wAweMMl-OioA-EyCqqqflnALATdEaxNMrg8/edit#heading=h.44hchewvxlaw

[2020-11-10 22:04] johnshaw1000 commented on #89
Web crawler results added to https://docs.google.com/spreadsheets/d/1v_eVzItwVksdpZ62GKhf-5sPhO9Jk7OdErtajcP1g34/edit?usp=sharing

[2020-11-11 12:26] PatReynolds commented on #50
Target fro donations Dec 2021 £8,000

[2020-11-11 14:49] DeniseColbert commented on #89
Thanks @johnshaw1000 .

[2020-11-11 15:56] DeniseColbert commented on #10
I am clueless about which, of their long list of permissions, we need. So I asked for all of them! Then I realised that we need to provide supporting info so that's unrealistic... could you advise @carcarvroom which we specifically need? It's saved as a draft for now.

![image](https://user-images.githubusercontent.com/19173257/98833916-86015400-2436-11eb-8e1c-fdae7024c5cb.png)

[2020-11-13 15:09] DeniseColbert commented on #3
http://www.glscountyscouts.org.uk/support/gsl/executive/gift/giftaidtoolkit.pdf

looking for an up to date version...

[2020-11-13 15:23] DeniseColbert commented on #3
There doesn't seem to be one!

[2020-11-13 15:42] PatReynolds commented on #3
hI don't think the logo/design essentioals have changed.  The governent set up the organization that made this guide, and the design is still used, but the organization folded some time ago - see the 'Gift aid it' section at the bottom of this wikipedia article https://en.wikipedia.org/wiki/Gift_Aid

[2020-11-16 18:00] carcarvroom commented on #44
I've sent a test 4. When you reply, the email should populate from the email field this time!

[2020-11-16 18:09] carcarvroom commented on #84
Thank you for the links! I think keeping all the media links in the footer would be best!

[2020-11-16 18:09] #84 closed, assigned to carcarvroom

[2020-11-16 18:19] carcarvroom commented on #83
Completed.

Added additional CSS to make its position fixed.
`#site-header {
	position: fixed
}`

[2020-11-16 18:19] #83 closed, assigned to nobody

[2020-11-17 13:43] DeniseColbert commented on #44
Received twice, both populated with your email address:

![image](https://user-images.githubusercontent.com/19173257/99397316-cd765d00-28da-11eb-9d92-5dafb96eaee2.png)

So, success!

[2020-11-17 13:53] DeniseColbert commented on #2
Seems to no longer be a problem: closing

[2020-11-17 13:53] #2 closed, assigned to PatReynolds

[2020-11-17 13:55] DeniseColbert opened #102 "Add GTM container code to WP"
https://docs.google.com/document/d/1EfX9le5EQKyZJLJlvljf-smHxjlbATr6XiJh87bd_Xg/edit?usp=sharing

[2020-11-17 14:36] DeniseColbert opened #103 "Investigate Site Kit plugin"
Emaiild Matt 17/11

[2020-11-17 14:38] DeniseColbert opened #104 "Configure Yoast"

[2020-11-17 14:41] DeniseColbert commented on #66
There is a HotJar plugin for WP. @carcarvroom could you take a look and let me know which way you recommend?

[2020-11-19 01:04] carcarvroom commented on #66
Sure! It looks very simple to add and I'll see how it runs. FYI I'm using site ID 1036679 from the related issue #29.

[2020-11-19 09:58] DeniseColbert commented on #66
Thanks @carcarvroom. The ID is for www.freeukgenealogy.org.uk so we won't be able to collect data until WP goes live. I'll change the milestone and put it on ice.

[2020-11-19 16:28] DeniseColbert commented on #48
DUplicate- closing

[2020-11-19 16:28] #48 closed, assigned to nobody

[2020-11-19 17:16] DeniseColbert opened #105 "Investigate giving News posts the same URL as Craft site."
e.g. https://www.freeukgenealogy.org.uk/news/2020/06/01/what-word-should-replace-transcriptions/

[2020-11-20 00:29] dhousman commented on #85
OK all urls are now lower case and have a trailing slash. This has consolidated I made the changes to the FreeUKGen Cardinality view effective 11/16

[2020-11-20 00:32] dhousman commented on #91
@DeniseColbert can you provide some mocks of the new wordpress fukg site? Or access to the site itself?

[2020-11-24 16:25] DeniseColbert opened #106 "Create template for news posts"
Not necessary for MVP so phase 2

[2020-11-24 16:38] DeniseColbert commented on #91
@dhousman I saw a comment on this story from you in my emails but can't see it in GitHub, Oh well... I have given you access to WP

[2020-11-24 16:40] DeniseColbert commented on #85
@dhousman thanks! That solves the issue on current live site, but we still need link standardisation in the WP build.

[2020-11-27 07:26] dhousman commented on #85
Ok well lets put this on the backburner until we get to that point.

[2020-12-01 14:55] DeniseColbert commented on #69
Currently tracking clicks on Search button on https://www.freeukgenealogy.org.uk/freecen.

Need similar for https://www.freeukgenealogy.org.uk/freebmd & https://www.freeukgenealogy.org.uk/freereg

[2020-12-01 14:58] DeniseColbert commented on #69
Duplicate: closing

[2020-12-01 14:58] #69 closed, assigned to nobody

[2020-12-01 14:58] #101 closed, assigned to nobody

[2020-12-01 15:07] DeniseColbert opened #107 "Google Analytics Epic"

[2020-12-01 15:23] #107 closed, assigned to nobody

[2020-12-04 13:46] johnshaw1000 commented on #13
I've moved all 59 posts, so is this done?

[2020-12-04 13:47] johnshaw1000 commented on #105
I think this would only be practical if we can upload a redirect file for each article.

[2020-12-07 18:00] johnshaw1000 commented on #85
Has a firm decision been made for the WP site? As it stands most links are without a training slash on the WP site.

For posts I've tried to be consistent, but I haven't checked everywhere. I could amend the script to check in more places.

I've also tried to use relative links where possible, so they will work regardless of the main site address (https://wp1.freeukgen.org.uk/ or https://www.freeu

[2020-12-07 18:03] johnshaw1000 commented on #89
The migration script has been added to GitHub. I haven't added any of the files I've used but I can do if desired. These files are:

- source HTML downloaded from the current site
- target posts HTML for upload to the WP site
- image files

Additionally a couple of other media files were copied from the current to the WP site manually (PDF and MP4).

[2020-12-07 18:06] johnshaw1000 commented on #14
All posts have been moved so not required?

When WP becomes the _current_ site, what will be the address for the _old_ site?

[2020-12-10 00:28] carcarvroom commented on #10
Page ID: 667041456725319

Access Token (expires Feb 7, 2021): EAANZA7OnG0q4BAJiEinker4xHfbFWhKC40uxMgqaTEerZBOMkOmFdAeLldtCkMGjyspPO2O9kZBCTXjUUIM5kpJS3DGuiq2Ke0SqYvW01ZCEdZCt48D4ZB5WipRZBuw3mGbtFUQzAxXiZBq0Lp4IgI1rTGrWPbTLSjCeon2KMsVD9QZDZD

Facebook feed successfully shows. The access token defaults to expire in one hour, so I created an extended one!

Instructions on creating app for Page ID vi

[2020-12-10 10:30] DeniseColbert commented on #10
Thanks for this, Carly! The widget is showing the last-but-one Facebook post though, not the most recent.

[2020-12-10 10:55] DeniseColbert commented on #14
Yes: not required thanks to your solution, John.

Name of old site when WP is live I don't think we have thought about. @lemon-ukgen would it be freeukgenealogy1@freeukgenealogy.org.uk following the REG and CEN pattern?

[2020-12-10 10:57] DeniseColbert commented on #85
No firm decision made either way. This is useful info for deciding though. Moving to Dev Review so we can discuss in Scrum.

[2020-12-10 14:02] DeniseColbert opened #108 "Make WP site compliant with Google Ad Grant standards"
See report: https://drive.google.com/file/d/15QESdzKSEe33aVQXWi76kUb7NYuul8A1/view?usp=sharing

[2020-12-10 14:05] DeniseColbert opened #109 "Clarify Outbound Links From 'Home' infographic"
Email from @dhousman sent 17th Nov 2020:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/eb9d35e9-44a2-4b49-9a1a-6f5a616b4b42)

Green section is much bigger than expected. Where are users clicking?

[2020-12-10 16:00] DeniseColbert opened #110 "Collect user feedback on Donations experience"
Can we use HotJar for this? Or does it have to be developed?

[2020-12-10 16:08] DeniseColbert opened #111 "Create page-specific header images"

[2020-12-10 16:49] DeniseColbert opened #112 "Add images to News page"
Per https://www.figma.com/file/xys4PUozmu8NkDAvYhRgeQ/FreeUkGenealogy?node-id=671%3A1

Images can be found on this doc: https://docs.google.com/document/d/1DvtH-CTnn9ggkj1wsWEc32a45bbB4jYE9XZ4LjAthLo/edit?usp=sharing

Please ensure source/attribution info is included in alt text

[2020-12-10 16:56] #89 closed, assigned to johnshaw1000

[2020-12-10 16:56] #14 closed, assigned to DeniseColbert

[2020-12-10 17:03] DeniseColbert commented on #102
Unassigned @dhousman as needs to be done in backend

[2020-12-10 17:03] #44 closed, assigned to carcarvroom

[2020-12-10 17:11] DeniseColbert commented on #85
Decision: without trailing slash

Possible to set a directive for this if necessary but it's likely not for just the Home page.

[2020-12-14 02:34] dhousman commented on #109
I looked into this issue- you were correct that there is more traffic it appears that the existing offsite link tracking is not working correctly. It is only capturing the links at the bottom of the page - not the ones at the top. Unfortunately the data currently available doesn't make it possible to describe the behavior on the home page with precision, but I would estimate that a little under ha

[2020-12-14 02:36] dhousman commented on #109
@DeniseColbert

[2020-12-14 10:54] DeniseColbert commented on #109
Thanks for this, David. I think our efforts are best placed in getting tracking set up on the WP site rather than fixing the current site which will be defunct in a few weeks/months.

[2020-12-14 13:53] ghost commented on #104
I installed Yoast and tested it out. Now, I need to work with the SEO person to do a little configuration.

[2020-12-14 18:37] dhousman commented on #85
My recommendation for this would be to try to make things as consistent as possible within the site. The filter I created inside GA is more of a hack and it will not work in some cases, i.e. if we get a hit that a user accessed a resource on the site that is not a directory, such as XYZ.html or XYZ.asp

[2020-12-14 20:32] johnshaw1000 commented on #102
Google Tag Manager set up.

Installed Google Site Kit https://sitekit.withgoogle.com/documentation/

[2020-12-14 22:14] ghost commented on #61
My suggestion is to use JetPack and/or WordFence. They are both popular and there is nothing to say that you can't use both to get a little overlap in protection. Both have free and also paid versions. Depending what you need, the free versions aren't bad. JetPack does other things, as well, such as Backup and has other tools. WordFence is heavy-duty firewall protection.

JetPack:
https://jetpack.

[2020-12-14 22:39] ghost commented on #95
Some themes come with easy tools to add archives. Since you are using your own, I'm not sure if there are easy ways to do this.

However, I did write some code for one of my sites that pulled in one of my blogs. I don't know if this code snippet will be useful, but I'm attaching it and here is where I had to put mine to get it to show up in my WordPress page template, but I realize yours might be

[2020-12-15 10:34] johnshaw1000 commented on #105
Redirects plugin installed.

Redirects added for all 59 migrated posts. These can be amended using https://wp1.freeukgen.org.uk/wp-admin/options-general.php?page=eps_redirects

[2020-12-15 11:09] DeniseColbert commented on #102
Great, thanks @johnshaw1000 . Unassigned you, and put @dhousman on to review.

[2020-12-15 11:12] DeniseColbert opened #113 "Address Site Health issues"
https://wp1.freeukgen.org.uk/wp-admin/site-health.php

[2020-12-15 11:36] DeniseColbert commented on #81
@johnshaw1000 Could you look at this if you've time and inclination?

There is a testimonial widget in Elementor, I just had a look at it on the [draft Donations page](https://wp1.freeukgen.org.uk/wp-admin/post.php?post=3581&action=elementor#) but I can't see a way to have multiple testimonials that scroll. Is this possible in Elementor? If not, could it be coded in WP?

[2020-12-15 11:37] DeniseColbert commented on #105
Puttin on ice to test when we're live.

[2020-12-15 12:05] DeniseColbert commented on #90
I had a look at adding this through Elementor and it doesn't seem possible. Is it possible through WP? Or PHP?

[2020-12-15 14:21] DeniseColbert opened #114 "Click through - Magnifying glass (Search)"
New metric and event: click through rate of magnifying glass on the site “Do all users understand that our records are in our 3 project website or do they try to find their ancestors using the magnifying glass?”

[2020-12-15 14:36] dhousman opened #115 "Report: landing pages and referring domains"
“Where do users visiting our product/landing pages (e.g. /freecen) come from? (/freereg & /freebmd aren’t tracking clicks yet) “

[2020-12-15 14:38] dhousman opened #116 "Report: demographics of people that hit the donate page"
(eventually the demographics of the people that click the donate button)

[2020-12-15 14:39] dhousman opened #117 "Where are users who visit the Donate page coming from?"
Report: Referrers to donation page
Report: Previous page before donation page.

[2020-12-15 14:41] dhousman opened #118 "Report: previous page and next page for donate page and “ways to donate” page."
“How many of the users that click to the donate page then click on “ways to donate” button on the donate page. https://www.freeukgenealogy.org.uk/help-us-keep-history-free/how-to-donate/?”

[2020-12-15 15:26] dhousman opened #119 "KPI: number of people that visit the donate page as a percentage of all traffic to the site."
KPI: number of people that visit the donate page as a percentage of all traffic to the site. “Do they actually go on Ways to Donate to donate money and if so, how much?”
Configure attribution of donation performance conversions to user acquisition

[2020-12-15 15:27] dhousman opened #120 "Investigate possibility of reporting historical conversion funnel through the primary conversion steps:"
Investigate possibility of reporting historical conversion funnel through the primary conversion steps:
https://www.freeukgenealogy.org.uk/help-us-keep-history-free/
https://www.freeukgenealogy.org.uk/help-us-keep-history-free/how-to-donate/
Clicking through to paypal from the donate money page

[2020-12-15 15:30] DeniseColbert opened #121 "Offsite link tracking on FUKG"
“Where do users go after they leave? “

[2020-12-15 15:33] DeniseColbert opened #122 "Who clicks Donations?"
- [ ] Event: Click donate button in header.
- [ ] Events: Click different options on the donate page and through the ways to donate page.

[2020-12-15 15:35] DeniseColbert opened #123 "Offsite donation links to paypal as a conversion event for donation (not just an offsite link). Must include: buy us a coffee."
Report: events and pages flow  report from the Donate page. “What percentage of users click on ‘Buy us a Coffee’?”

[2020-12-15 15:39] DeniseColbert opened #124 "Donation page conversions"
Set a conversion event on the Donate page and report on page views....  “Do they actually go on Donate to donate money and if so, how (Paypal - in which currency much - Kindlink / Bank Transfer / Cheque?”

[2020-12-15 15:41] DeniseColbert opened #125 "Understand what users do on the Donations page"
Click tracking on all links on all links/elements on the donation page and to try to make a heatmap on this page.  “How many click on a button on the donation page? What percentage of clicks do each of the buttons receive?

How many click on https://www.freeukgenealogy.org.uk/about/pages/other-ways-to-help?”

[2020-12-15 15:41] dhousman opened #126 "Volunteer pages reporting"
Report: previous page from about/volunteer and landing/traffic sources Where do people arrive at https://www.freeukgenealogy.org.uk/about/volunteer/ from?
Report: next page/ exits from /about/volunteer/ Where do they go after /about/volunteer?

KPI: visits to volunteer page, Report: volunteer pages and original referrers.
Report: funnel through
https://www.freeukgenealogy.org.uk/about/volunteer/
h

[2020-12-15 15:45] DeniseColbert opened #127 "Conversion events on volunteering pages: Report: conversion funnel through volunteer pages"
- [ ] https://www.freeukgenealogy.org.uk/about/volunteer/transcriber-volunteering-opportunities/
1. FreeBMD,
2. FreeREG
3. FreeCEN

- [ ] https://www.freeukgenealogy.org.uk/about/volunteer/foundation
(any of the buttons)

- [ ] https://www.freeukgenealogy.org.uk/about/volunteer/tech-volunteering-opportunities/
Click apply

- [ ] https://www.freeukgenealogy.org.uk/about/volunteer/management-volunte

[2020-12-15 15:46] dhousman opened #128 "Report: top site pages, exit pages, landing pages and bounce rates, top keywords."
Report: top site pages, exit pages, landing pages and bounce rates, top keywords. “Where are people coming from when they arrive at any of our websites? What page(s) do they exit from? How can we keep them on-site/send them to another of our sites before we lose them?”

[2020-12-15 15:47] dhousman opened #129 "Report: Why is traffic to FUKG declining since august?"

[2020-12-15 15:48] DeniseColbert opened #130 "Understand cross-property user journeys"
For a better understanding of the relationship between acquisition on FUKG and then downstream conversion on project sites, Double tag all FUKG sites: Create a single property to track referrals from FUKG and actions on other websites. I’d say that we’d need GTM active on all sites in order to make this happen.

[2020-12-15 15:51] DeniseColbert opened #131 "Donation funnel"
Which specific pages/actions to include in the donation funnel? Ultimately we can come up with a conversion rate for this.

[2020-12-16 12:05] DeniseColbert opened #132 "Change 'Contact' link in Nav bar to 'Help'"
Current Contact page is to be a child of the Help page.

[2020-12-16 12:09] DeniseColbert opened #133 "Help page (parent of Contact)"
Is the content on Genealogy Research page sufficient for the Help parent page? Or should this be a child of Help too? @AKHILP96 could we talk about this?

[2020-12-16 14:01] ghost opened #134 "Consider Adding Broken Link Checker Plugin by WPMU DEV"
Suggest adding Broken Link Checker Plugin by WPMU DEV (note that many plugins have similar names - it can help identify them by including the author in the mention).

Even when you are careful with your web-site, you can end up with broken links. This is especially true when you link to other sites. Often, if there is an article written about your group that you link to, the link will eventually b

[2020-12-16 14:53] akhilpokle commented on #133
I didn't design a help page, I will need clarifications from your side about its contents and it's purpose.

[2020-12-16 16:14] DeniseColbert commented on #133
Yes, let's discuss tomorrow at the Meet. The purpose is to hold dropdown for Genealogy Research (parent of potentially many pages), useful links and Contact page.

[2020-12-16 20:01] ghost opened #135 "Consider Adding Two-Factor Authentication to the WordPress Site Login"
Two-factor authentication does not have to be complicated nor slow. Even the simplest two-factor authentication can slow-down some of the tools that try to log in, such as the simple "Check This Box if You're a Human."

There are different tools or plugins to do this. If we were to move forward, discuss what we want or need then look for the right tool/plugin.

This goes along with another issue t

[2020-12-17 14:30] DeniseColbert commented on #34
Found this plugin: https://en-gb.wordpress.org/plugins/custom-twitter-feeds/

High number of users, recently updated.

[2020-12-17 17:15] DeniseColbert commented on #102
Matt to look at sitekit and set up

[2020-12-17 17:16] DeniseColbert commented on #10
Working - close

[2020-12-20 07:18] akhilpokle commented on #90
Are we planning on using it?

[2020-12-21 15:19] DeniseColbert commented on #90
Yes @AKHILP96 we want to use this font for quotes on the website, e.g. testimonial carousel

[2020-12-21 16:57] DeniseColbert opened #136 "Place side-menu in Genealogy Research section"
Is this possible with Elementor? If not, could we easily do it in WP?

[2020-12-21 18:36] ghost commented on #25
I tried looking at a preview of the Desktop version of this page but none of the links were clickable except on the top menu. The ones throughout the page and at the bottom did not become live for me. I used "preview" to do this. Does Elementor require testing this is some other manner?

[2020-12-21 18:39] ghost commented on #26
I didn't want to touch anyone's pages. But I just did a quick search on "raise awareness" for posts and pages and these came up:

**Pages**
Get Involved

**Posts**
Explore Your Archive Week 14 – 22 Nov 2015

I'm not sure if that catches everything because it probably doesn't catch things like menus. I'm thinking about whether there's another place to search.

[2020-12-23 22:08] TazHinkle opened #137 "Master Branch (low priority)"
This is as much about me testing out Zenhub as anything, but... I noticed when I was browsing the github repository that we were using Master branches (rather than Main).  It's a fairly contested issue, but is this something that's already been discussed?

[2020-12-24 01:07] dhousman commented on #102
@DeniseColbert I've been working on this and I'm getting some unexpected results while trying to set things up. Is someone else editing the GA / GTM implementation on this site right now? Who set up the GTAG implementation on that site?

[2021-01-01 16:33] TazHinkle commented on #132
Saved as Draft in the Appearance > Menus editor.  I Changed the Nav bar to read Help instead of Contact.  Clicking Help directly leads to the Genealogy Research Page.  Contact is a child link that displays when Help is hovered over in the Nav bar.

[2021-01-03 14:47] MattHFreeUKGen commented on #104
Happy to speak about it from an SEO perspective.

Send me an email about when works best for you if you want a chat! If not, feel free to let me know what sort of info you need and I can pull something together.

[2021-01-04 00:07] dhousman commented on #91
I think this has been done and questions are now found here: https://docs.google.com/document/d/1_iGnBQOhvmhlILIsbCAvJ2zSbBs1uQvEc6JSoCsHAUg/edit

[2021-01-04 12:33] DeniseColbert commented on #91
@dhousman are all stories coming out of this document now on the board? I will close, if so.

[2021-01-04 12:40] DeniseColbert commented on #104
Great to see you here @MattHFreeUKGen !

Gloria is in USA (Chicago time) but I will email you both to arrange a time that suits :)

[2021-01-04 13:21] DeniseColbert commented on #132
I can't find the drafts in the Menus editor @TazHinkle, by lack of familiarity with WP I'm afraid. Could you maybe send a few screen grabs or a short video so I can find it and have a look? If not, you can just share your screen on Thursday :)

[2021-01-04 15:37] TazHinkle commented on #132
I did go about it in an odd way.  I've since learned there are multiple
ways to mess with the menu.  I like the visual aspect of this method, but
it is not amazingly easy to get to…  I'll put in some screen caps, but I'll
be ready to share my screen Thursday if need be.
[image: menuDraft1.png]
[image: menuDraft2.png][image: menuDraft3.png]
[image: menuDraft4.png][image: menuDraft5.png]
The interfa

[2021-01-04 19:18] dhousman commented on #129
I'd say this is done and results disseminated through email.

[2021-01-04 19:18] #129 closed, assigned to DeniseColbert

[2021-01-05 14:37] DeniseColbert commented on #132
Ah ok, thanks Taz. The screenshots didn't work but I followed your steps and found the preview. It all looks fine so I published it :)

[2021-01-05 14:38] #132 closed, assigned to TazHinkle

[2021-01-06 14:13] DeniseColbert commented on #102
Nobody, other than you, should be touching GTM on Wordpress now the container code is added-  @johnshaw1000 added the container code, but wouldn't have done anything else (he doesn't have access to analytics or GTM).

[2021-01-06 14:14] DeniseColbert commented on #137
No, but it sounds like we should! Have added label to reflect.

[2021-01-08 12:30] DeniseColbert commented on #34
@hotbeverage2017 could you take a look at this plugin for Twitter please?

[2021-01-08 14:23] dhousman commented on #91
Yes i think so please close

[2021-01-08 14:23] #91 closed, assigned to DeniseColbert

[2021-01-11 03:26] TazHinkle commented on #137
I was reading this just now:  https://github.com/github/renaming .
It's very likely that we would be fine to change now, but I don't see any harm in waiting for the end of the month to see if they role out something amazing for this process.

[2021-01-11 14:05] johnshaw1000 commented on #102
Apparently some permissions weren't granted, I've done that now.

It's saying it's not connected to analytics - should it be? It prompts to create an account - should I create it or is there an existing one I should use?

[2021-01-11 14:12] DeniseColbert commented on #102
@dhousman is trying to get it all set up but there were some issues. @johnshaw1000 could you describe how you added the container code e.g. via a plugin?

[2021-01-11 14:13] DeniseColbert commented on #137
Thanks @TazHinkle I've created a story for discussion with the wider dev team at our Systemwide scrum later today.

[2021-01-11 17:52] ghost commented on #34
@DeniseColbert since this Twitter plugin mentions something about being able to "Load More" I think that might be what you want. In any case, it won't hurt to plug it in and try it out.

You have three other plugins that need an update. I can update those plus add this plug to the site and try it out. John would be working earlier than I come in, Taz later than I possibly stay. I usually like to d

[2021-01-13 19:45] ghost commented on #34
@DeniseColbert I had added the Twitter feed plugin and have these questions:
1. In the Page "Our Story" is the Twitter feed supposed to go into the right hand side panel?
2. To configure the Twitter feed, there needs to be a feed to point to. Or, there is a way to get an access token and secret. I'm not sure what to use for these. I don't have a Twitter account, so it's not something I can play ar

[2021-01-13 20:40] johnshaw1000 commented on #102
Yes, it's just a WordPress plugin called SiteKit by Google. Can @dhousman describe the problem symptoms?

[2021-01-16 19:13] TazHinkle commented on #49
Carly seems to have implemented this already, unless there are a different set of statistics that should be displaying than the 10 pounds per month/30 per day/60 per week..?

[2021-01-17 01:19] TazHinkle commented on #47
There is a now teal box around Donate in the menu now.  It is a larger size than the design because that is the current size of the clickable button. Moving to Review/QA.

[2021-01-18 12:02] DeniseColbert opened #138 "Check text accessibility of Accordion elements"
Is teal text accessible on grey background at that font size/weight?

[2021-01-18 14:58] DeniseColbert commented on #49
Thanks Taz, moving to needs review

[2021-01-18 15:00] DeniseColbert commented on #3
Duplicate - closing

[2021-01-18 15:00] #3 closed, assigned to akhilpokle

[2021-01-20 02:45] ghost commented on #59
Yoast can create sitemaps. Maybe Matthew would want to check whether he thinks they would be sufficient for the site. And, if so, that could be then used in the footer. Here is the one as of the time I'm writing this, as an example:
[https://wp1.freeukgen.org.uk/sitemap_index.xml](url)

[2021-01-20 02:50] ghost commented on #104
@MattHFreeUKGen and @DeniseColbert - do I close this, now? We have just basic configuration but I think Matt would make changes as he needs more links and features.

[2021-01-21 12:00] DeniseColbert commented on #104
Yes, closing

[2021-01-21 12:00] #104 closed, assigned to MattHFreeUKGen

[2021-01-21 16:16] DeniseColbert opened #139 "Implement design of Donate feature"
Pathway that design is based on: https://docs.google.com/drawings/d/1z6OXZ0mHaC2OLcwTTn-myvWCEg2NozaKYTHMWxIbe3w/edit

Code for PayPal buttons & KindLink widget: https://docs.google.com/document/d/1NsScCngGPd66vcNCGIQkcnp9Y_VE4LyNlqSjwf62Yz4/edit#heading=h.187lduc6og1e

[2021-01-21 17:15] DeniseColbert opened #140 "Continue? page"
Static page directed from PayPal upon interrupted/unfinished donation. E.g. https://www.freeukgenealogy.org.uk/help-us-keep-history-free/continue

[2021-01-21 17:24] DeniseColbert opened #141 "Post-donation Thank You page"
- Thank you for your donation - Annual Report (PDF/Img)

- Do you want to search our records on one of our websites? [BUTTONS]

- NL signup & latest NL

[2021-01-21 17:25] DeniseColbert commented on #141
@DeniseColbert to supply selection of places to go.

[2021-01-22 12:33] DeniseColbert opened #142 "Consider Keywords Everywhere for SEO"
https://chrome.google.com/webstore/detail/keywords-everywhere-keywo/hbapdpeemoojbophdfndmlgdhppljgmp?hl=en

[2021-01-22 14:08] DeniseColbert commented on #34
If we can't find a free carousel plugin then use this one ^

[2021-01-22 14:11] DeniseColbert opened #143 "GDPR Consent Plugin"
To include cookie notice definitely, toggle code?

If we use Twitter feed plugin (in story #34 ) these are compatible: https://smashballoon.com/doc/gdpr-plugin-list/?twitter

[2021-01-24 07:11] TazHinkle commented on #139
A current draft of the page exists here:  [https://wp1.freeukgen.org.uk/donation2](https://wp1.freeukgen.org.uk/donation2).
I've added Denise Colbert as a collaborator for the google form which is set up for the Giftaid information.

[2021-01-26 10:32] PatReynolds commented on #180
Pat to get code for cookie consent

[2021-01-29 14:34] DeniseColbert commented on #47
Gloria to take a look at making the Donate button look like the Figma design

[2021-01-29 20:19] johnshaw1000 commented on #90
![Screenshot 2021-01-29 at 20 18 27](https://user-images.githubusercontent.com/5745442/106323365-3bda8280-626f-11eb-9dab-0b031b28fe88.png)
Need to "Go Pro" with Elementor to be able to add custom fonts. There might be another way, I'll keep looking.

[2021-01-30 20:10] ghost commented on #47
@denise and @TazHinkle Here is what I did. To me, it looks about the same but the designers will have a finer eye. So, here is what I did and you can adjust it more if they need it. After a change, I hit "Publish" just as a reminder.

**_To change the Top Menu font (Denise, was this part of this ticket or something separate you needed?)_**
Appearance>Customize>Typography>Main Menu>Font Weight
I ch

[2021-02-01 03:59] TazHinkle commented on #47
I like this compromise.  I brought up that to make the button smaller that you'd also lose clickable area, but the amount you've trimmed it to is not so small and it looks nicer than the block I had before.

[2021-02-01 10:29] DeniseColbert commented on #12
All previous news posts are now in WP- closing

[2021-02-01 10:29] #12 closed, assigned to johnshaw1000, DeniseColbert

[2021-02-01 10:29] DeniseColbert commented on #13
Yes, closing

[2021-02-01 10:29] #13 closed, assigned to johnshaw1000, DeniseColbert

[2021-02-01 10:31] DeniseColbert opened #144 "Bring across all News posts added since initial work, from Craft site"

[2021-02-01 10:36] DeniseColbert opened #145 "Bring across page from FreeBMD1 on the founding of FreeBMD"

[2021-02-01 10:48] DeniseColbert commented on #58
Duplicate of #141 - closing

[2021-02-01 10:48] #58 closed, assigned to nobody

[2021-02-01 11:12] DeniseColbert commented on #141
@akhil to take a look at a design for the page, @DeniseColbert to supply links

[2021-02-01 12:34] DeniseColbert opened #146 "Open Data section"

[2021-02-01 12:34] DeniseColbert opened #147 "Import content from current site"

[2021-02-01 12:35] DeniseColbert opened #148 "Genealogy Research section"

[2021-02-01 14:21] DeniseColbert opened #149 "Create a child theme of OceanWP"

[2021-02-01 14:23] DeniseColbert opened #150 "Theme Epic"
Stories related to the Free UK Genealogy WP Theme (Parent theme: Ocean WP)

[2021-02-01 14:27] DeniseColbert opened #151 "Document Typography"
Denise is working with CSS volunteer Joseph, to document this from our other websites' usage.

Somewhat covered in Brand Book, being expanded upon in supplemental info (https://docs.google.com/document/d/1qGBKK7j9m858ab_kBH87IUarFgaKHRLcrpwy1iy-g_4/edit#) but needs to be its own entity

[2021-02-01 14:45] DeniseColbert commented on #47
Looks great @hotbeverage2017 !

One small thing now though, there is no padding/white space at the top of the nav bar:

![image](https://user-images.githubusercontent.com/19173257/106473795-2007f400-649c-11eb-873e-7fb216473d5c.png)

Is it possible to add some in? [ETA] The same amount as is below the logo/ donate box

[2021-02-01 15:24] ghost commented on #47
@TazHinkle @DeniseColbert Feel free to make any changes. If the button seems a little awkward to click on, go ahead and change the area. As for the top, where the other padding was at, where I padded the bottom of the menu bar, I'm pretty sure that also had a top padding, so give that a try and see if you like the way it looks.

The bottom line is this, and I did say this to Denise: I'm a programm

[2021-02-02 15:10] DeniseColbert commented on #90
Thanks @johnshaw1000

*crosses fingers*

[2021-02-02 17:12] DeniseColbert opened #152 "Develop templates for each page level"
Top-level page templates being designed by @AKHILP96

Pages being brought across from live site by @kwheeler08 still need template decision

[2021-02-02 17:14] DeniseColbert opened #153 "Ensure all templates (and pages) comply with Typography documentation"

[2021-02-03 13:38] DeniseColbert opened #154 "Guest post page"

[2021-02-03 13:38] DeniseColbert opened #155 "The Help epic"
Top level 'Help' on Nav bar should be a 'dummy' - i.e. no link or page, just a placeholder for pages to appear on hover (is this possible?)

Pages to be included on hover:

- Genealogy Research (parent of a large section of pages)

- Contact

- Write a Guest Post

[2021-02-03 13:41] DeniseColbert opened #156 "Guest post form - bespoke, with pre-populated subject of “I’ve read the guidance for Guest Posts…”"

[2021-02-03 14:43] DeniseColbert commented on #47
Definitely; it's also good experience for me to do these things myself. I followed your steps and it was really easy to add some top padding- thanks!

All done, closing.

[2021-02-03 14:43] #47 closed, assigned to nobody

[2021-02-03 14:54] DeniseColbert opened #157 "Nav bar Donate button - hover state"
On hover, the background should be white with teal 'Donate' - I added some CSS to do this but text remains white.

[2021-02-03 14:58] DeniseColbert commented on #157
Denise to ask @jayto581 for assistance when he returns

[2021-02-03 15:03] DeniseColbert opened #158 "Remove link underline from Nav bar links"
Global settings place underline on link-hover. This needs to be removed from the nav bar links (plus dropdown links) as there is a solid bottom-border on hover (which we want to keep)

[2021-02-03 15:04] DeniseColbert commented on #158
Denise to ask @jayto581 for assistance when he returns

[2021-02-03 15:06] DeniseColbert opened #159 "External links opening in new tab - use an icon?"

[2021-02-03 15:06] DeniseColbert opened #160 "Check that all links have context"

[2021-02-03 15:07] DeniseColbert opened #161 "Check that site is acceptable for screen readers"

[2021-02-03 15:07] DeniseColbert opened #162 "The Accessibility Epic"

[2021-02-03 15:12] DeniseColbert opened #163 "Google Ads is correctly connected to Analytics"
Directly before go-live

[2021-02-05 06:39] TazHinkle commented on #47
The font color now changes to teal on the donate button at hover.  I've also gotten rid of the 'extra underline' on all of the buttons.

[2021-02-05 14:57] DeniseColbert opened #164 "Bring the above the fold area of Home page in line with Figma design"
Top-left of Figma: https://www.figma.com/file/xys4PUozmu8NkDAvYhRgeQ/FreeUkGenealogy?node-id=642%3A1616

Image (in WP Media) requires shrinking to equal the watermark on e.g. FreeREG (top-right corner). Please document steps taken so that image can be changed out.

Drop-down becomes three CTA buttons, and all text moved to left of page.

[2021-02-05 21:45] TazHinkle commented on #137
The above link has been updated.  They now have this guide to renaming branches for the admin to do via the website:
https://docs.github.com/en/github/administering-a-repository/renaming-a-branch

As it explains, it deals with any open pull requests and generally redirects all matters online, but it does not update the members development environments (meaning that they would need to update the ta

[2021-02-06 19:07] ghost commented on #159
Sometimes you have options on whether you open external links to use a new tab or not. Let me know which links you mean, whether you prefer a new tab or not, whether you have an icon, and I can see if there are options on how to open these.

[2021-02-06 19:34] ghost commented on #164
I went to change the image and went into the Media to select the new honeycomb.
The actual image does not need resizing it just needs resizing on the Elementor page, although I realize you want to get the graphic fixed to have even gaps in the honeycombs, but we can add the new one in when you get it.

In any case, once you select it as the background, in Elementor, check out the settings. It's no

[2021-02-08 20:38] TazHinkle commented on #157
This has been implemented.  Moving to review.

[2021-02-08 20:39] TazHinkle commented on #158
I have removed the regular underline from the Nav hover states.  It still does the animation that involves a line.

[2021-02-09 12:19] DeniseColbert commented on #159
For example, in the Donation2 tool that Taz is developing, KindLink and PayPal both open in a new tab. For accessibility, we should be telling users this will happen. Is an icon enough, as discussed here: https://ux.stackexchange.com/questions/55419/how-to-indicate-this-button-link-opens-a-new-tab#55424? For screen readers? @AlOneill can we do this with alt text? ETA: also `title="open in new tab"

[2021-02-09 12:41] DeniseColbert commented on #141
Must include reminder that: You can include Gift Aid on all donations from the last 4 years. Please remember to [tell us about any tax years where you did not pay enough tax] [link to Contact form].

[2021-02-09 13:07] akhilpokle commented on #164
In Figma,
1. Extract the image.
2. Use Inspect on the top right sidebar to get the exact size.
![Screenshot 2021-02-09 at 6 36 31 PM](https://user-images.githubusercontent.com/17247801/107367922-e7a08f80-6b05-11eb-8e23-33c311c138ea.png)
![Screenshot 2021-02-09 at 6 36 47 PM](https://user-images.githubusercontent.com/17247801/107367931-ea02e980-6b05-11eb-9c5d-de6ecb7db6a4.png)

[2021-02-09 14:46] ghost commented on #164
Thanks, but that's not quite how the WordPress plugin has us do that. We
just drag it until it's the right size, basically, and there's a setting
for which corner and replication and such. It's not quite the same as doing
it directly in this manner. So,when we get the final image and I put it in
there, someone will have to check to see if they agree that it's
overlapping the other items in the rig

[2021-02-09 15:10] hotbeverage2017 commented on #164
@denise , if you look above, you'll see see my instructions on how to get this to fit on the page. If you change it in the Media then insert into Elementor, Elementor will just resize it, so you don't need to make any changes to the image size in there, at this time.

[2021-02-09 15:11] ghost commented on #164
Denise, f you look above where I responded to this, you'll see see my
instructions on how to get this to fit on the page. If you change it in the
Media then insert into Elementor, Elementor will just resize it, so you
don't need to make any changes to the image size in there, at this time.

On Tue, Feb 9, 2021 at 8:45 AM Gloria <hotbeverage2017@gmail.com> wrote:

[2021-02-09 15:32] AlOneill commented on #159
Providing an adequate warning to **all** users that a link will open in a new tab is a must for accessibility. If that warning is an icon, providing alt text for the icon would help a screen-reader user, but it would not help a user who has cognitive difficulties or a sighted, keyboard-only user. The particular icon suggested on the StackExchange thread is used by Wikipedia (for example) to indica

[2021-02-10 05:54] akhilpokle commented on #159
Based on this article : https://www.nngroup.com/articles/new-browser-windows-and-tabs/ we should add icon and text.

I think below the payal and kindlink "links tabs", we could add a note, so something like :

[paypal button]

[icon] this link will open in new tab.

I will send a design around this.

image from the article
![image](https://user-images.githubusercontent.com/17247801/107471067-7c50c

[2021-02-10 15:40] AlOneill commented on #159
@AKHILP96 That's a good article. Thank you. A combination of icon and text, as you suggest, should work. My main concern would be that for a screen-reader user, will the button and the warning be kept together in a list of links, away from the context of the whole page? (I'm struggling to express that well. Apologies.)

[2021-02-10 21:10] johnshaw1000 commented on #90
Fonts added to Wordpress site.
README.md file updated in GitHub repo to describe changes and to refer to fonts license.
Font assets uploaded to GitHub repo.

[2021-02-11 15:07] akhilpokle commented on #159
Based on this article :  https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attribute

if we use aria-hidden="true" will remove the entire element from the accessibility API.

I think adding that to the link will do the trick.

[2021-02-11 16:25] AlOneill commented on #159
@AKHILP96 I do not understand which "entire element" you plan to hide from screen-reader users.

I did not express myself clearly in my last message — I'll try again. A screen-reader user can call upon a list of links that have been extracted from the page. There will be no context to the links in that list. However, the user will still need to be warned if one of those links will open in a new ta

[2021-02-12 14:33] DeniseColbert commented on #34
We have the ability to show multiple tweets so closing

[2021-02-12 14:33] #34 closed, assigned to nobody

[2021-02-12 14:43] DeniseColbert commented on #61
To discuss with wider dev team

[2021-02-12 16:11] DeniseColbert commented on #134
Found this, I think it's a Good Thing. When do you think we should add it? Maybe after we figure out the memory issues?

[2021-02-12 16:12] DeniseColbert commented on #134
Found this languishing @hotbeverage2017 . Seems like a Good Thing. Should we add it after we figure out the memory issues or does that not matter?

[2021-02-12 16:19] DeniseColbert commented on #59
@MattHFreeUKGen do you think Yoast sitemap would suffice?

[2021-02-12 16:22] DeniseColbert commented on #133
@TazHinkle will Add Genealogy Research page as a child of Help (on hover) but will review with @AKHILP96 the merits of having a Help page with content vs. a dummy to hold the child pages (on hover)

[2021-02-12 16:24] DeniseColbert commented on #135
Definitely a Good Thing, but again, do we wait until memory issue is identified?

[2021-02-12 16:28] DeniseColbert commented on #103
I need to play with this to find out how it works.

[2021-02-12 18:49] ghost commented on #135
@DeniseColbert that's a good point. I'll start looking into it, though. Do we also want to do an extra check for e-mail logins, where if they want to signup they have to respond to an e-mail to verify themselves? That's yet one more way to keep the list from getting full of spam.

[2021-02-12 18:57] ghost commented on #59
By the way, that link I gave above doesn't work from in here. I'm not sure why, possibly since this site isn't live.

So, instead, to look at the Yoast sitemap:

1. Login to WordPress and be in the dashboard.
2. On the left,toward the bottom, you'll see Y SEO (Yoast SEO) and click on that.
3. Under that, click on the General submenu.
4. In the center, click on the Features tab.
5. The fifth item i

[2021-02-12 18:59] ghost commented on #134
Let's wait. In fact, we might wait for this until closer to making the site live, since we're still messing around with links and might be breaking them just by the fact that we're moving things around.

[2021-02-15 04:34] TazHinkle commented on #133
Genealogy Research is now a child of Help- and also the default landing page if someone clicks directly on 'Help' instead of the sub menu.

[2021-02-19 15:50] TazHinkle commented on #141
I have made a shell page: https://wp1.freeukgen.org.uk/thank-you .
This allowed me to update the donation tool with the next step as you'd desired.  With Paypal and Kindlink linking to this page as their "success case" it ties all of the donation types back to a single place.

[2021-02-24 16:37] DeniseColbert opened #166 "Security Epic"

[2021-02-24 20:56] johnshaw1000 commented on #90
The "testimonial" or "testimonial-bold" CSS class must be entered in the advanced section of the testimonial widget (or anywhere really, but I assumed it was limited to testimonials).
![Screenshot 2021-02-24 at 20 52 38](https://user-images.githubusercontent.com/5745442/109064857-d00afe80-76e2-11eb-8b57-02efad580c2a.png)

[2021-02-24 21:02] johnshaw1000 commented on #164
I think this is done, moving to review.

[2021-02-24 21:05] johnshaw1000 commented on #147
Is there anything left to do on this?

[2021-02-24 21:25] johnshaw1000 commented on #25
There are no links behind the text. I've added some but there's a fair bit of work to do yet.

At the bottom should that be some kind of standard footer? Seems like it's used on multiple pages.

[2021-02-24 21:41] johnshaw1000 commented on #15
Currently this is using MailChimp plugin to create the form. Not as simple as just changing the link, can probably use WPForms though.

[2021-02-24 21:42] johnshaw1000 commented on #15
Is there a group on groups.io already?

I found FreeUKGEN-Documentation-Volunteers@groups.io but no others.

[2021-02-24 22:02] johnshaw1000 commented on #15
I think it's possible to embed a signup form provided by groups.io, but I can't tell until the group is created. @DeniseColbert can you create the group? (Or I can if you prefer.) The embed form feature is part of "Promote your group".

[2021-02-25 14:00] DeniseColbert commented on #15
@johnshaw1000 yes we do have a group, here's the embed form code

[code]

[2021-02-25 14:02] DeniseColbert commented on #15
Can we have the style more as it is now rather than the style in the embed code?

[2021-02-25 14:15] DeniseColbert commented on #25
This (and stories like this) can only be done when all content exists on WP (in progress). May address this with milestones for MVP?

[2021-02-25 14:15] DeniseColbert commented on #25
Good point about the footer- will make/find footer story.

[2021-02-25 14:17] DeniseColbert commented on #147
Yes, lots! The News section has been imported but the static pages are a different matter. @kwheeler08 is bringing over some of the discrete sections currently, but other pages need designing/signing off before their turn comes.

[2021-02-25 14:19] DeniseColbert commented on #164
I need some help from devs for this- I added a CSS class and some code in a HTML block to make the class 'work' and, well... it doesn't!

[2021-02-25 14:32] DeniseColbert commented on #90
The Museo font is only to be used for quotes, so testimonial widget is the only place it's used currently, but it may be used elsewhere on the site. Maybe 'quote' would be a more suitable name for the class?

[2021-02-25 14:33] DeniseColbert commented on #141
Great, thanks @TazHinkle!

[2021-02-25 14:45] DeniseColbert commented on #41
Done: closing

[2021-02-25 14:45] #41 closed, assigned to nobody

[2021-02-25 14:59] DeniseColbert commented on #133
Done, closing

[2021-02-25 14:59] #133 closed, assigned to TazHinkle

[2021-02-25 15:15] DeniseColbert commented on #59
@MattHFreeUKGen could you take a look at the XML sitemap(s) in Yoast per Gloria's instructions?

[2021-02-25 15:16] DeniseColbert commented on #135
I think we should, yes.

[2021-02-25 16:13] DeniseColbert commented on #139
We have recently discovered another donation pathway - CAFDonate (more info here: https://github.com/freeukgen/coordination/issues/1482)

Could this be added into the widget? @TazHinkle

[2021-02-25 16:14] DeniseColbert commented on #49
Done: closing

[2021-02-25 16:14] #49 closed, assigned to nobody

[2021-02-25 16:15] DeniseColbert commented on #102
Issues have now been fixed: closing

[2021-02-25 16:15] #102 closed, assigned to dhousman

[2021-02-25 16:17] DeniseColbert commented on #95
Not a blog archive here, but a newsletter archive.

[2021-02-25 18:01] DeniseColbert commented on #140
@TazHinkle could you create a shell page for this using the content on the current page (link in description) for now, please?

[2021-02-25 18:03] DeniseColbert opened #167 "Left-align CSS class not working on Home page buttons"
![Home.PNG](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/13092e20-75d7-4e49-86df-0b3f3168c799)

[2021-02-25 18:31] DeniseColbert opened #168 "Consider Essential Addons upgrade"
Cost-Benefit analysis required

**Benefits**
Testimonial scrolling
Twitter carousel
Logo carousel

**Cost**
$40 per year

[2021-02-26 02:04] TazHinkle commented on #140
Done.  Moving to Review.

[2021-02-26 11:55] PatReynolds commented on #168
What is the accessibility of these features?  I know caroussels can have issues.

[2021-02-26 17:01] DeniseColbert commented on #168
Good point, will investigate. The main reason we are considering it is for sidebar widget, which would be worth it by itself if it does what we need it to do.

[2021-03-01 10:44] PatReynolds commented on #180
Adsence's cookie consent not suitable (as we don't have adverts).  Pat to check for alternatives

[2021-03-01 21:24] johnshaw1000 commented on #167
This is difficult to fix. It's not clear what this _should_ look like, generally buttons are centre-aligned. I did use CSS ID to gain _some_ control over the text style, but I couldn't get the icons to align properly at all.

I've tried an alternative using an icon list, which _I think_ formats more in line with what is wanted - but they're clearly _not_ buttons.
Image attached for comparison.
![S

[2021-03-01 21:26] #90 closed, assigned to johnshaw1000

[2021-03-02 20:32] #149 closed, assigned to johnshaw1000

[2021-03-02 20:38] johnshaw1000 commented on #37
Is there anything left to do on this?
The "menu" on FreeUkGen is quite different to the other sites, I assume this is deliberate - if not I can look into this.

[2021-03-02 21:25] johnshaw1000 commented on #68
Placeholder landing pages created:

- https://wp1.freeukgen.org.uk/freebmd
- https://wp1.freeukgen.org.uk/freereg
- https://wp1.freeukgen.org.uk/freecen

Footer updated to link to these pages (rather than the external sites) for SEO

[2021-03-02 21:29] johnshaw1000 commented on #148
Looks like a lot of it has been done, the links at the bottom need addrssing:
Purchasing BMD Certificates - links to Craft site
Adoption - links to Craft site
Click here - not sure what this is supposed to be

[2021-03-02 21:30] johnshaw1000 commented on #148
Buttons are used - perhaps change to links?

[2021-03-02 22:31] kjawheeler commented on #148
The content for Genealogy research pages and Open data have been copied over but I know the internal links haven't been updated yet. I'm still working on editing the links, I was just waiting for more of the new pages on the FUKG WordPress site to be created so I can edit them easily.

It's just taking me a little while as I'm now back working full time.

[2021-03-03 09:36] johnshaw1000 commented on #148
I'm happy to create placeholder pages.

[2021-03-05 22:26] johnshaw1000 opened #169 "WP Cookie Consent Policy"
Revise the cookie consent policy for Wordpress: https://wp1.freeukgen.org.uk/cookie-policy

It seems Wordpress doesn't need _any_ cookies to work, it only stores them for logged in users and for users leaving a comment.

[2021-03-05 22:47] johnshaw1000 opened #170 "WP Cookie Management"
Craft site uses Javascript to manage cookies (such as Google Analytics).

Suggest enabling Javascript on WP site using a plugin: https://wordpress.org/plugins/insert-headers-and-footers/ and use a similar approach.

Alternatively add plugins to manage the cookies, but this is quite an inflexible approach and may require a few plugins.

Setting as "ASAP" as the site _could_ launch without cookie ma

[2021-03-11 11:05] DeniseColbert opened #171 "Consider having 'dummy' Help (nav bar) to hold dropdown links"
This still feels the cleanest way to handle the section. This charity uses similar; some nav bar items link to pages, some are just holding the child items: https://www.hoperescue.org.uk/dogs-for-adoption

[2021-03-11 14:58] DeniseColbert commented on #37
The text should look just like FreeCEN/REG (except where they are using all caps: we want title case) whilst keeping the overall design of our nav bar/menu area

[2021-03-11 15:08] DeniseColbert commented on #169
We have analytics cookies, though, I'm pretty sure the page as-is is applicable. Might need a tweak or two, will check with @PatReynolds

[2021-03-15 15:04] DeniseColbert commented on #63
@TazHinkle to look at making the font display as Source Sans Pro

[2021-03-15 15:08] #52 closed, assigned to TazHinkle

[2021-03-15 15:08] #139 closed, assigned to TazHinkle

[2021-03-15 15:08] #157 closed, assigned to nobody

[2021-03-15 15:09] DeniseColbert commented on #136
@kwheeler08 please take a look at the sidebar

[2021-03-15 15:58] DeniseColbert opened #172 "Cookie page toggle function"
https://www.freeukgenealogy.org.uk/about/constitution-and-policies/cookie-policy/ code needs twiddling in order to work properly. John said it's Javascript and WP doesn't naturally play nicely...

WP page in question: https://wp1.freeukgen.org.uk/cookie-policy

[2021-03-15 21:20] TazHinkle commented on #63
I have it displaying as Source Sans Pro (or sans-serif in the case that font can't be retrieved).  I also removed the underline on hover.

[2021-03-16 12:38] DeniseColbert commented on #63
Thanks, Taz! It seems the underline is still there on non-hover; can that be removed? Also... how easy/difficult would it be to change the colours to match the ones in https://drive.google.com/file/d/1uknWGBFMGTft0E6p8znEqFDXLcJxomUm/view?usp=sharing?

[2021-03-16 12:52] DeniseColbert commented on #63
Font size/weight looks a little off. For comparison:

Craft:
![image](https://user-images.githubusercontent.com/19173257/111311510-39cd5700-8656-11eb-99a2-e8335b93dbb3.png)

WP:
![image](https://user-images.githubusercontent.com/19173257/111311760-7f8a1f80-8656-11eb-90c3-6447676b8d96.png)

[2021-03-16 19:16] TazHinkle commented on #63
I have fiddled with it.  I specifically changed the font weight and left the size alone.  I also believe that I've eliminated the underline now.
Let me know what you think.

[2021-03-17 18:04] johnshaw1000 commented on #167
![Screenshot 2021-03-17 at 18 03 05](https://user-images.githubusercontent.com/5745442/111515768-159f7200-874b-11eb-98e7-be10bc435a9b.png)
I think this change achieves the styling requirements and the links work. @DeniseColbert please review.

[2021-03-18 15:26] DeniseColbert commented on #167
Looks really good, John, thank you.

No hover focus may be a problem for keyboard-only users- design can look at this and advise.

Just curious, why doesn't the URL of each link show on hover?

[2021-03-18 15:36] DeniseColbert commented on #63
![image](https://user-images.githubusercontent.com/19173257/111653204-a2a40300-87ff-11eb-8206-05b22b2963dd.png)

Text looks much better, thanks!

Link to donate image above appears to have stopped working, here it is again: https://drive.google.com/file/d/1wY4oWXWESNLAEHT0ly5iF_POfUiMVZGv/view?usp=sharing

How easily can the colours be changed?

[2021-03-18 16:17] TazHinkle commented on #63
Colour can be changed pretty easily as long as I have the hex code for the desired colour.

[2021-03-18 16:44] DeniseColbert commented on #63
@DeniseColbert to annotate the image with hex codes and send to Taz

[2021-03-18 17:31] DeniseColbert commented on #63
Shared via Drive @TazHinkle

[2021-03-22 10:51] DeniseColbert commented on #180
https://wordpress.org/plugins/gdpr-cookie-compliance/ @PatReynolds to check if this is suitable for our needs

[2021-03-22 14:24] DeniseColbert opened #173 "Privacy page - GDPR"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/83516706-969d-46fd-a2d2-6046404e70db)

[2021-03-22 14:26] DeniseColbert opened #174 "GDPR/Privacy"

[2021-03-22 20:23] johnshaw1000 commented on #167
![Screenshot 2021-03-22 at 20 20 22](https://user-images.githubusercontent.com/5745442/112053297-16217980-8b4c-11eb-8c79-615e4219ab9f.png)
The previous layout was achieved using `<button` html elements. This new layout is achieved using `<a>` (anchor) html elements, hopefully this is much closer to the vision for the homepage.
@DeniseColbert Please review and close this story if you're happy with

[2021-03-22 20:26] johnshaw1000 commented on #42
@DeniseColbert I notice the name change of this story, what (if anything) needs to be updated?

[2021-03-22 21:09] johnshaw1000 commented on #148
Hi @kwheeler08 & @DeniseColbert
I was looking at the side panel in the Genealogy Research section. I've edited the child links to be bulleted lists, I trust this is ok (if not please let me know and I'll revert).
The reasoning is bulleted lists will be easier to style on a site-wide basis rather than a hard-coded hyphen.

I also noticed https://wp1.freeukgen.org.uk/genealogy-research/researching-w

[2021-03-22 21:13] johnshaw1000 commented on #136
This looks to be "done". I think there's a template created by @kwheeler08 too, which can be used as a base for other sections too.

[2021-03-22 21:16] johnshaw1000 commented on #146
@kwheeler08 I'm happy to help with some of the basic work in this section if you wish. Should I create the placeholder pages and the sidebar?

[2021-03-22 21:18] johnshaw1000 commented on #168
We've found another way for the side bar (at least for now), so shall we reject adding this widget for now?

[2021-03-22 21:56] kjawheeler commented on #148
I must have missed that page, I can fix the sidebar section tomorrow.

[2021-03-22 22:01] kjawheeler commented on #146
The open data pages have been transferred already, and have a sidebar linking all the pages.

[2021-03-22 22:06] kjawheeler commented on #146
https://wp1.freeukgen.org.uk/our-story/open-data

[2021-03-22 22:16] kjawheeler commented on #136
I created two templates, one for Genealogy research and one for open data. They have the original content, but I mainly created them as it saved time creating all the links in the menu.

[2021-03-23 13:44] DeniseColbert commented on #146
@TazHinkle could you place https://wp1.freeukgen.org.uk/our-story/open-data as a child of Our Story on Nav Bar (dropdown hover)?

[2021-03-23 20:35] johnshaw1000 commented on #148
Looks good to me! Done?

[2021-03-23 20:47] johnshaw1000 commented on #37
The font family and the font size are the same on FreeUKGen as FreeCEN/REG (18px Source Sans Pro).

[2021-03-24 13:00] ghost commented on #174
@TazHinkle @johnshaw1000 @DeniseColbert In the effort to move pages from the craft web-site to the development/staging area, there is a page for the cookie policy. I have marked that as being handled separately. I think Taz was working on it and I think John had gotten the page information for him. So, I am marking that page as being handled, separate from the task for the craft web-site:  https:/

[2021-03-24 13:23] DeniseColbert opened #175 "Set up GTM tags for Donate widget"
https://wp1.freeukgen.org.uk/donation

@TazHinkle developed the tool in HTML & Javascript and it is pulled into the page by an iframe via GitPages

@dhousman to explore with @TazHinkle how to tag the clicks via Google Tag Manager

[2021-03-24 15:29] DeniseColbert commented on #174
That's right, @hotbeverage2017 John has created a few 'holding' pages and Taz, too (I can think of the tank you page that the donate tool send users to, from the Bank Transfer/Cheque route). This might be the only one that John has brought the content across for, or there may be others. Worth noting on the spreadsheet, thanks for noticing Gloria :)

[2021-03-24 15:30] DeniseColbert commented on #37
Thanks! Can the font weight be gleaned via dev tools @johnshaw1000 ?

[2021-03-24 15:37] DeniseColbert commented on #148
The bulleted lists look good, thanks @johnshaw1000 . There is still polishing to be done (e.g. links integrated into text on the WW section) so it's still in progress.

[2021-03-24 15:38] DeniseColbert commented on #136
I think this is done; thanks everyone! Closing

[2021-03-24 15:38] #136 closed, assigned to kwheeler08

[2021-03-24 15:39] DeniseColbert commented on #168
Moved to icebox and removed high priority tag.

[2021-03-24 18:09] DeniseColbert commented on #42
I've made most of the updates I wanted to. but...

![image](https://user-images.githubusercontent.com/19173257/112362405-4e4fc600-8ccc-11eb-9da8-60ae93a5c4fd.png)

As you can see, the link in the legal text can't stay teal, but I can't see where to adjust this (thinking keep the text white but bold & italic, and on hover, replace italic with underline, still white). Could you do this @johnshaw1000

[2021-03-24 18:12] DeniseColbert commented on #167
Love this, @johnshaw1000 thanks! Could you put a little distance between the icon and the text?

[2021-03-25 16:42] DeniseColbert opened #176 "Sidebar remains static when user scrolls"
E.g. child pages of Gen Res section but should act this way on all pages with a sidebar

[2021-03-25 16:49] DeniseColbert opened #177 "Check for images with white backgrounds and replace with transparent PNGs (was update background colour)"
@hotbeverage2017 (Gloria) will look at if this needs to be done in the theme, or the global settings in Elementor

[2021-03-25 16:50] DeniseColbert commented on #177
Gabriel has offered to look at this

[2021-03-25 16:57] DeniseColbert commented on #63
Taz will add a few pixels to the frame

Denise will test text size by adjusting her browser settings and update

[2021-03-25 17:01] DeniseColbert commented on #140
@hotbeverage2017 & @kwheeler08 this page is already created so please place content in this one (don't make a new page)

[2021-03-25 17:02] DeniseColbert commented on #146
Done, closing!

[2021-03-25 17:02] #146 closed, assigned to kwheeler08, TazHinkle

[2021-03-25 17:17] DeniseColbert commented on #42
Also, could you place a <br> between the sentences in the bottom text?

[2021-03-25 17:28] DeniseColbert commented on #50
https://www.dhl.com/in-en/home/book-online.html

[2021-03-25 18:31] johnshaw1000 opened #178 "About Section"
Import the About section contents to the WP site

[2021-03-25 18:37] johnshaw1000 commented on #178
@kwheeler08
Denise asked me to create an Accessibility page to be able to complete the links in the footer. She also asked me to inform you if I was adding pages for imported content.

I've created the accessibility page: https://wp1.freeukgen.org.uk/accessibility

Turns out this is in the About section, I've also created that page: https://wp1.freeukgen.org.uk/about
I've created a SideBar templat

[2021-03-25 18:43] johnshaw1000 commented on #42
@DeniseColbert Links done, I imported the Accessibility & About pages over too (@kwheeler08 @hotbeverage2017)

Line break added to the bottom content.

[2021-03-25 18:48] johnshaw1000 commented on #167
Done. Changed from 10px to 15px

[2021-03-25 18:50] johnshaw1000 commented on #174
Generally the pages I created were the ones in the footer as I didn't want missing/broken links.

[2021-03-25 20:01] johnshaw1000 commented on #37
Yes, I compared via dev tools and they're the same (Source Sams Pro 18pt if memory serves correctly).

[2021-03-25 21:27] johnshaw1000 commented on #148
I've updated all the links but please do check.

Not sure why https://wp1.freeukgen.org.uk/genealogy-research/researching-worldwide-family-history/researching-w-indies-caribbean-family-history has an accordion, it's inconsistent with the other pages. It does work quite well but might be quite a lot of effort to put it everywhere.

[2021-03-27 15:50] ghost commented on #177
@Gabriel-Ludwig  I have figured out how to change the background color of the new site from #ffffff to #fafafa. If you want to investigate and see if you can first figure it out, that's fine. It's not bad to wander around and see where it's at. Or, if you want some hints or for me to just tell you, that's fine, too. Just let me know.

[2021-03-27 16:10] Gabriel-Ludwig commented on #177
@hotbeverage2017 I will try to figure it out, and if I need some hints I’ll let you know, thanks!

[2021-03-29 19:18] TazHinkle commented on #63
I have added some pixels to the frame and have also made a small adjustment to the font size and weight (boldness).
![image.png](https://images.zenhubusercontent.com/5fd506680d140e18952cabda/6c1a2745-fe1d-4db3-b753-abaaa4da7e66)

[2021-03-29 22:08] TazHinkle commented on #176
https://wp1.freeukgen.org.uk/scroll-demo
See also my comments on Slack.

I'm not moving this to review because I haven't adjusted any pages that are being kept (and don't have a full list of what pages should have this feature).  My suspicion is that you would have to adjust the fixed items for every page rather than changing one template.

[2021-04-06 18:49] hotbeverage2017 commented on #166
Here is the security spreadsheet, just so it's attached to this work within ZenHub:
[https://docs.google.com/spreadsheets/d/1q3uo8xZZLev6LGghV89vf84wL0dLSXi5LKQY3o8ItsY/edit#gid=0](url)

[2021-04-06 18:52] ghost commented on #166
@DeniseColbert I tried to link the security spreadsheet to this but I think I have something wrong with my permissions. I just wanted to make at least a note, here, that there is a spreadsheet to go along with this.

[2021-04-27 10:55] PatReynolds commented on #180
Yes, that looks fine.

[2021-05-04 13:17] DeniseColbert commented on #10
Gloria (@hotbeverage2017 ) to take a look at getting the access token (extended?)

[2021-05-10 20:12] Gabriel-Ludwig commented on #177
I just finished changing the background color to #fafafa as desired, moving it to design review

[2021-05-12 11:23] DeniseColbert commented on #177
Great job, @Gabriel-Ludwig thanks!

Although now I notice that we have a problem with the project logos a bit further down the page:

![image](https://user-images.githubusercontent.com/19173257/117965719-fe2fd000-b31a-11eb-92d4-71e81e854ef4.png)

I've renamed this story to reflect this, have requested versions of these icons with an outline from our design volunteer, to help with contrast. I'll up

[2021-05-18 01:07] TazHinkle commented on #172
This is started with the GDPR plugin.
I believe that for Google Analytics, that you will need a "property ID" set up with Google for the individual website.
This link should come in handy:  https://developers.google.com/analytics/devguides/collection/analyticsjs

[2021-05-28 13:26] DeniseColbert opened #181 "Set up Privacy Notice in Akismet"
Review email from Gloria, seems to be a programming issue